Django==1.11.5
django-celery==3.2.1
django-compressor==2.2
django-simple-pagination==1.1.8
django-debug-toolbar==1.8
django-blog-it==0.2.3
psycopg2==2.7.3.1
microurl==0.1.1
WeasyPrint==0.40
xlwt==1.3.0
gunicorn==19.6.0
whitenoise==3.1
dj-database-url==0.4.1
