{% extends 'base.html' %}
{% block breadcrumb %}
<li>Deposits</li>
<li>Add Recurring Deposit</li>
{% endblock %}
{% block stage %}
<div style="padding: 28px;"><h3 align="center">New Recurring Deposite Application</h3></div>
<div class="container">
  <form id="recurringdepositapplicationform" enctype="multipart/form-data" method="POST">
    <div class="row deposits_list">
      <div class="col">
        <div class="receipt_form">
          <div class="input-group">
            <label class="filter_branch">R.D Account Number :
            <input name="reccuring_deposit_number" class="locations"/></label>
          </div>
          <div class="input-group">
            <label class="filter_branch"> Member Name :
            <input name="client_name" class="locations"/></label>
          </div>
          <div class="input-group">
            <label class="filter_branch"> Member A/C No :
            <input name="client_account_no" class="locations"/></label>
          </div>
          <div class="input-group">
            <label class="filter_branch">Date Of Deposite  :
            <input name="deposited_date" class="locations"/></label>
          </div>
          <div class="input-group">
            <label class="filter_branch">Deposite Amount:
            <input name="recurring_deposit_amount" class="locations"/></label>
          </div>
          <div class="input-group">
            <label class="filter_branch"> Deposite Period (<small>In Months</small>):
            <input name="recurring_deposit_period" class="locations"/></label>
          </div>
          <div class="input-group">
            <label class="filter_branch"> Interst Rate :
            <input name="recurring_deposit_interest_rate" class="locations"/></label>
          </div>
          <div class="input-group">
            <label class="filter_branch"> Relationship with nominee :
            <input list="browsers" name="relationship_with_nominee" class="locations"/></label>
            <datalist id="browsers">
              <option value="Chrome"></option>
              <option value="Firefox"></option>
              <option value="Internet Explorer"></option>
              <option value="Opera"></option>
              <option value="Safari"></option>
              <option value="Microsoft Edge"></option>
            </datalist>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="receipt_form">
          <h4 class="nominee_deatails"> Nominee Details</h4>
          <div class="input-group">
            <label class="filter_branch"> First Name :
            <input name="nominee_firstname" class="locations"/></label>
          </div>
          <div class="input-group">
            <label class="filter_branch">Last Name:
            <input name="nominee_lastname" class="locations"/></label>
          </div>
          <div class="input-group">
            <label class="filter_branch">Nominee Occupation:
            <input name="nominee_occupation" class="locations"/></label>
          </div>
          <div class="input-group">
            <label class="filter_branch">Date OF Birth :
            <input name="nominee_date_of_birth" class="locations"/></label>
          </div>
          <div class="input-group">
            <label class="select_filter" name="nominee_gender">
              Gender:
              <div class="form-check form-check-inline">
            <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">Male
            </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">Female
              </label>
            </div>
          </div>
          <div class="input-group-choose_image">
            <label class="nominee_image"> Nominee Image:
            <input type="file" id="myFile" name="nominee_photo">
          </div>
          <div class="input-group-choose_signature">
            <label class="nominee_image"> Nominee Signature:
            <input type="file" id="myFile" name="nominee_signature">
          </div>
        </div>
      </div>
      <div class=" col-12 save_deposit">
        <button type="button" class="deposit">Deposit</button>
        <button type="button" class="deposit">Cancel</button>
      </div>
    </div>
  </form>
</div> 
<script>
  $(document).ready(function() {
    $('#recurringdepositapplicationform').ajaxForm({
      dataType: 'json',
      data : $('#recurringdepositapplicationform').serialize(),
      type: "POST",
      success: function(data){
        $(".error").remove();
        if(data.error == false)
        {
          alert("Recurring Deposit Application Submitted sucessfully.");
          window.location = data.success_url;
        }
        else
        {
          $('.error').text('');
          if (data.message) {
            $.each(data.message, function( field, error ) {
              console.log(field)
              console.log(error)
              if (field == "nominee_gender"){
                $("#nominee_gender").html("<span class='error' style='height:11px;color:red;'>" + error + "</span>")
              }
              else{
                $("[name='" + field + "']").after("<span class='error' style='height:11px;color:red;'>" + error + "</span>")
              }
            });
          }
        }
      }
    });
  });
</script>
{% endblock %}