{% extends 'base.html' %}
{% block breadcrumb %}
{% if client.first_name %}
  <li><a href="{% url 'micro_admin:branchprofile' client.branch.id %}">{{ client.branch.name|capfirst }} Branch</a></li>
  <li><a href="{% url 'micro_admin:clientprofile' client.id %}">{{ client.first_name|capfirst }} Member</a></li>
  <li>Recurring Deposits</li>
{% else %}
  <li>Recurring Deposits</li>
{% endif %}
{% endblock %}
{% block stage %}
<!--content goes below-->
<div class="container">
  <!--form div starts below-->
  <div class="panel panel-default my-panel-bprofile margin-top-set">
    <div class="panel-heading min-ht-res-60">
      <h3 class="panel-title">
      {% if client.first_name %}
        {{client.first_name|capfirst}} {{client.last_name|capfirst}} Recurring Deposits
      {% else %}
        View all Recurring Deposits
      {% endif %}
      </h3>
      <span class="mar-tp-m"><a href="{% url 'micro_admin:recurringdeposits' %}"><button class="ed-btn"><i class="fa fa-plus padd"></i>Create Recurring Deposit</button></a></span>
    </div>
    <div class="hg-table panel-body pb-table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="head-row-tb">
              <th>S.No.</th>
              <th>RD A/C. No.</th>
              <th>Status</th>
              <th>Deposited Date</th>
              {% if not client.first_name %}
                <th>Member Name</th>
                <th>Member A/C. No.</th>
              {% endif %}
              <th>Deposit Amount</th>
              <th>Deposit Period(in months)</th>
              <th>Maturity Amount</th>
              <th>Nominee Name</th>
            </tr>
          </thead>
          <tbody class="body-row-tb">
            {% for recurring_deposit in recurring_deposit_list %}
            <tr>
              <td><b>{{ forloop.counter }}</b></td>
              <td><a href="{% url 'micro_admin:clientrecurringdepositsprofile' recurring_deposit.id %}" style="color:#337ab7;">
                {{ recurring_deposit.reccuring_deposit_number }}</a>
              </td>
              {% if recurring_deposit.status == "Opened" %}
              <td><i class="fa fa-circle green" data-toggle="tooltip" data-placement="top" title="{{recurring_deposit.status}}"></i></td>
              {% elif recurring_deposit.status == "Closed" %}
              <td><i class="fa fa-circle red" data-toggle="tooltip" data-placement="top" title="{{recurring_deposit.status}}"></i></td>
              {% else %}
                <!--<td>{{ fixed_deposti.status }}</td>-->
                <td><i class="fa fa-circle" data-toggle="tooltip" data-placement="top" title="{{recurring_deposit.status}}"></i></td>
              {% endif %}
              <td>{{ recurring_deposit.deposited_date  }}</td>
              {% if not client.first_name %}
                <td><a href="{% url 'micro_admin:clientprofile' recurring_deposit.client.id %}" style="color:#660099">
                  {{ recurring_deposit.client.first_name|capfirst }} {{ recurring_deposit.client.last_name|capfirst }}</a>
                </td>
                <td>{{ recurring_deposit.client.account_number  }}</td>
              {% endif %}
              <td>{{ recurring_deposit.recurring_deposit_amount|floatformat:2 }}</td>
              <td>{{ recurring_deposit.recurring_deposit_period }}</td>
              <td>{{ recurring_deposit.maturity_amount|default:"-" }}</td>
              <td>{{ recurring_deposit.nominee_firstname|capfirst }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
<script type="">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}