{% extends 'base.html' %}
{% load loans_tags %}
{% block breadcrumb %}
<li><a href="{% url 'micro_admin:branchprofile' loanaccount.client.branch.id %}">{{ loanaccount.client.branch.name|capfirst }} Branch</a></li>
<li><a href="{% url 'micro_admin:clientprofile' loanaccount.client.id %}">{{ loanaccount.client.first_name|capfirst }} Member</a></li>
<li><a href="{% url 'loans:clientloanaccountslist' loanaccount.client.id %}">Loans</a></li>
<li>Loan Account - {{ loanaccount.account_no }}</li>
{% endblock %}
{% block stage %}
<!--content goes below-->
<div class="container">
  <div class="wrap-cp-div margin-top-set">
    <div class="btn-row" >
      {% if user.is_admin or user.user_roles == "BranchManager" %}
      {% if loanaccount.status == "Approved" %}
      <button title="Already Approved"><i class="fa fa-check-circle-o padd"></i>Approved</button>
      {% else %}
      <a class='change-loan-account-status' data-href="{% url 'loans:change_loan_account_status' loanaccount.id %}?status=Approved"><button id="approve-button"><i class="fa fa-check-circle-o padd"></i>Approve</button></a>
      {% endif %}
      {% if loanaccount.status == "Withdrawn" %}
      <button title="Already Withrawn"><i class="fa fa-arrow-circle-o-down padd"></i>Withdrawn</button>
      {% else %}
      <a class='change-loan-account-status' data-href="{% url 'loans:change_loan_account_status' loanaccount.id %}?status=Withdrawn"><button id="withdraw-button"><i class="fa fa-arrow-circle-o-down padd"></i>Withdraw</button></a>
      {% endif %}
      {% if loanaccount.status == "Rejected" %}
      <button title="Already Rejected"><i class="fa fa-times-circle-o padd"></i>Rejected</button>
      {% else %}
      <a class='change-loan-account-status' data-href="{% url 'loans:change_loan_account_status' loanaccount.id %}?status=Rejected"><button id="reject-button"><i class="fa fa-times-circle-o padd"></i>Reject</button></a>
      {% endif %}
      {% if loanaccount.status == "Closed" %}
      <button title = "Already Closed"><i class="fa fa-trash-o padd"></i>Closed</button>
      {% else %}
      <a class='change-loan-account-status' data-href="{% url 'loans:change_loan_account_status' loanaccount.id %}?status=Closed"><button id="close-button"><i class="fa fa-trash-o padd"></i>Close</button></a>
      {% endif %}
      <br clear="all" />
      {% endif %}
    </div>
  </div>
</div>
<!--form div starts below-->
<div class="panel panel-default wrap-cp-div">
  <div class="panel-heading min-ht-res-60">
    <h3 class="panel-title">
      {% if loanaccount.client.is_active %}
      <i class="fa fa-square green padd"></i>
      {% else %}
      <i class="fa fa-square red padd"></i>{% endif %}
      {{ loanaccount.client.first_name|capfirst }} Loan Account
    </h3>
    <span class="mar-tp-m mar-top-m24">
    <a href="{% url 'loans:listofclientloandeposits' loanaccount.client.id loanaccount.id %}" class="view-tab-btn"><i class="fa fa-eye padd"></i>View Loan Deposits</a>
    <a href="{% url 'loans:clientloanledgeraccount' loanaccount.client.id loanaccount.id %}" class="view-tab-btn">Ledger</a>
    {% if user.is_admin == 0 and user.user_roles != "BranchManager" %}
    {% if loanaccount.status == "Withdrawn" %}
    <a  title="Already Withrawn" class="view-tab-btn"><i class="fa fa-arrow-circle-o-down padd"></i>Withdrawn</a>
    {% else %}
    <a data-href="{% url 'loans:change_loan_account_status' loanaccount.id %}?status=Withdrawn" id="withdraw-button" class="view-tab-btn change-loan-account-status"><i class="fa fa-arrow-circle-o-down padd"></i>Withdraw</a>
    {% endif %}
    {% endif %}
    </span>
  </div>
  <div class="panel-body">
    <!--panel body starts above-->
    <form id="loanaccountform" class="form-horizontal" role="form">
      {% csrf_token %}
      <!--div 1 0f form-->
      <div class="box-form">
        <div class="form-group grp-view">
          <input type="hidden"  id="loanaccount_id" value="{{ loanaccount.id }}" style="dispaly:none;">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label">Loan A/C Number :</label><span class="col-lg-6 col-sm-6 col-xs-6 mar-top">{{ loanaccount.account_no }}</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label">Applied By Staff :</label><span class="col-lg-6 col-sm-6 col-xs-6 mar-top">{{ loanaccount.created_by|capfirst }}</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label">Loan Issued By :</label><span class="col-lg-6 col-sm-6 col-xs-6 mar-top">{{ loanaccount.loan_issued_by|capfirst }}</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label">Loan Amount :</label><span class="col-lg-6 mar-top" style="color:#FF00CC;">{{ loanaccount.loan_amount }}/-</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label">Loan Repayment Period :</label><span class="col-lg-6 col-sm-6 col-xs-6 mar-top">{{ loanaccount.loan_repayment_period }} Months</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label">Principle Repayment Amount :</label><span class="col-lg-6 col-sm-6 col-xs-6 mar-top" style="color:#337ab7;">{{ loanaccount.principle_repayment }}/-</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label">Total Loan Repayment Amount :</label><span class="col-lg-6 col-sm-6 col-xs-6 mar-top">{{ loanaccount.loan_repayment_amount }}/-</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label"> Total Principle Repaid Amount  :</label><span class="col-lg-6 col-sm-6 col-xs-6 mar-top">{{ loanaccount.total_loan_amount_repaid }}/-</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label"> Total Loan Amount Paid :</label><span class="col-lg-6 col-sm-6 col-xs-6 mar-top">{{ loanaccount.total_loan_paid }}/-</span>
        </div>
      </div>
      <!--div 1 of fomr ends above-->
      <!--div 2 of form starts below-->
      <div class="box-form">
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label">Opened On :</label><span class="col-lg-6 col-sm-6 col-xs-6mar-top">{{ loanaccount.opening_date }}</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label">Status :</label>
          {% if loanaccount.status == "Applied" %}
          <span class="col-lg-6 col-sm-6 col-xs-6 mar-top" style="color:#337ab7;">
          {% elif loanaccount.status == "Withdrawn" %}
          <span class="col-lg-6 col-sm-6 col-xs-6 mar-top" style="color:#FF6600;">
          {% elif loanaccount.status == "Approved" %}
          <span class="col-lg-6 col-sm-6 col-xs-6 mar-top" style="color:#008000;">
          {% elif loanaccount.status == "Rejected" %}
          <span class="col-lg-6 col-sm-6 col-xs-6 mar-top red">
          {% elif loanaccount.status == "Closed" %}
          <span class="col-lg-6 col-sm-6 col-xs-6 mar-top" style="color:#660099;">
          {% endif %}
          {{ loanaccount.status }}
          {% if loanaccount.status == "Approved" %}&nbsp; on&nbsp; {{ loanaccount.approved_date }}{% endif %}</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label">Loan Issued On :</label>
            <span class="col-lg-6 col-sm-6 col-xs-6 mar-top">
              {% if loanaccount.loan_issued_date %}
                {{ loanaccount.loan_issued_date }}
              {% else %}
                -
              {% endif %}
              <!-- {% if user.is_admin and not loanaccount.loan_issued_date %}
              <a href="{% url 'loans:issueloan' loanaccount.id %}" style="text-decoration:none; color:#fff; margin-left:3px;" title="Issue Loan"><i class="fa fa-pencil-square-o trash-icon"></i></a>
              {% endif %} -->
          </span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label">Annual Interest Rate:</label><span class="col-lg-6 col-sm-6 col-xs-6 mar-top">{{ loanaccount.annual_interest_rate }} % {{loanaccount.interest_type}} Interest</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label">Loan Repayment for Every :</label><span class="col-lg-6 col-sm-6 col-xs-6 mar-top">{{ loanaccount.loan_repayment_every }} Month{{ loanaccount.loan_repayment_every|pluralize }}</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label">Interest Charged :</label><span class="col-lg-6 col-sm-6 col-xs-6 mar-top" style="color:#337ab7;">{{ loanaccount.interest_charged }}/-</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label">No. of Repayments Completed :</label><span class="col-lg-6 col-sm-6 col-xs-6 mar-top">{{ no_of_repayments_completed }}</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label"> Total Interest Repaid :</label><span class="col-lg-6 col-sm-6 col-xs-6 mar-top">{{ loanaccount.total_interest_repaid }}/-</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label">Total Principle Balance :</label><span class="col-lg-6 col-sm-6 col-xs-6 mar-top">{{ loanaccount.total_loan_balance }}/-</span>
        </div>
      </div>
      <br clear="all" />
    </form>
  </div>
  <!--panel body ends below crct-->
</div>
{% if loan_disbursements %}
<!-- Loan Disbursements-->
<div class="panel panel-default wrap-cp-div">
  <div class="panel-heading min-ht-res-60" style="background: #03A9F4;">
    <h3 class="panel-title">Loan Disbursements</h3>
  </div>
  <div class="panel-body pb-table">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="head-row-tb">
            <th>S.No</th>
            <th>Date</th>
            <th>Vocher Number</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody class="body-row-tb">
          {% for each in loan_disbursements %}
            <tr>
              <td><b>{{ forloop.counter }}</b></td>
              <td>{{ each.date }}</td>
              <td>{{ each.voucher_number}}</td>
              <td>{{ each.total_amount|floatformat:2 }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- /Loan Disbursements-->
{% endif %}
<script type="text/javascript">
  $(document).ready(function() {
    $('.change-loan-account-status').click(function(e) {
      e.preventDefault();
      submit_url = $(this).attr("data-href")
      $.post(submit_url, $('#loanaccountform').serialize(), function(data) {
        if (data.error) {
          alert(data.error_message);
        }
        else {
          alert("Member Loan status changed successfully.")
          window.location = '.';
        }
      }, "json");
    });
  });
</script>
{% endblock %}
