{% extends 'base.html' %}
{% block breadcrumb %}
<li><a href="{% url 'micro_admin:branchprofile' client.branch.id %}">{{ client.branch.name|capfirst }} Branch</a></li>
<li><a href="{% url 'micro_admin:clientprofile' client.id %}">{{ client.first_name|capfirst }} Member</a></li>
<li>Add Loan Application</li>
{% endblock %}
{% block stage %}
<!--content goes below-->
<div class="container">
  <!--form div starts below-->
  <div class="panel panel-default my-panel wid-panel-form margin-top-set">
    <div class="panel-heading">
      <h3 class="panel-title">
      {% if client.is_active %}
      <i class="fa fa-square green padd"></i>
      {% else %}
      <i class="fa fa-square red padd"></i>
      {% endif %}{{ client.first_name|capfirst }} Loan Application
    </div>
    <div class="panel-body pb-pad">
      <form id="clientloanapplicationform" class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-5 control-label">Account Number</label>
          <div class="col-sm-7">
            <input type="hidden"  id="client_id" value="{{client.id}}" style="dispaly:none;">
            <input type="text" class="text-box wid-form" name="account_no" value="{{account_no}}" id="account_no">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-5 control-label">Created By</label>
          <div class="col-sm-7">
            <input type="text" class="text-box wid-form" name="created_by" value="{{ user.username }}" id="created_by">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-5 control-label">Loan Amount<span>*</span></label>
          <div class="col-sm-7">
            <input type="text" class="text-box wid-form" name="loan_amount" id="loan_amount">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-5 control-label">Loan Repayment Period (in months)<span>*</span></label>
          <div class="col-sm-7">
            <input type="text" class="text-box wid-form" name="loan_repayment_period" id="loan_repayment_period">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-5 control-label">Loan Repayment Every (in months)<span>*</span></label>
          <div class="col-sm-7">
            <select class="text-box wid-form" name="loan_repayment_every" id="loan_repayment_every">
            <option value="">Please Select Option</option>
            {% for val in loan_repayment_every %}
              <option value="{{ val.value }}">{{ val.value }}</option>
            {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-5 control-label">Interest Type<span>*</span></label>
          <div class="col-sm-7">
            <select class="text-box wid-form" name="interest_type" id="interest_type">
              <option>Select Interest Type</option>
              <option>Flat</option>
              <option>Declining</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-5 control-label">Annual Interest Rate (%)<span>*</span></label>
          <div class="col-sm-7">
            <input type="text" class="text-box wid-form" name="annual_interest_rate" id="annual_interest_rate">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-5 control-label">Loan Purpose<span>*</span></label>
          <div class="col-sm-7">
            <textarea rows="3" class="txt-area-wid" name="loanpurpose_description" id="loanpurpose_description"></textarea>
          </div>
        </div>
        <div class="form-group btns">
          <button class="submit-btn" type="submit"><i class="fa fa-check padd"></i>Submit</button>
          <button class="cancel-btn" type="reset"><i class="fa fa-times padd"></i>Cancel</button>
        </div>
      </form>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
<script type="text/javascript">
  $(document).ready(function() {
    $('#clientloanapplicationform').submit(function(e) {
      e.preventDefault();
      $.post('.', $('#clientloanapplicationform').serialize(), function(data) {
        if (data.error) {
          $("span.error").remove();
          $.each(data.message, function( key, value ) {
            $('#'+key).after("<span class='error' style='height:11px;color:red;'>" + value + "</span>");
          });
        }
        else {
          alert("Member Loan Application submitted sucessfully");
          url = "{% url 'loans:clientloanaccount' 1 %}".replace(1, data.loanaccount_id)
          window.location = url;
        }
      }, "json");
    });
    $('.cancel-btn').click(function(e){
      $("span.error").remove();
    });
  });
</script>
{% endblock %}