{% extends 'base.html' %}
{% block breadcrumb %}
<li><a href="{% url 'micro_admin:branchprofile' client.branch.id %}">{{ client.branch.name|capfirst }} Branch</a></li>
<li><a href="{% url 'micro_admin:clientprofile' client.id %}">{{ client.first_name|capfirst }} Member</a></li>
<li>Savings Account</li>
{% endblock %}
{% block stage %}
<!--content goes below-->
<div class="container">
  <div class="wrap-cp-div btn-usa-div margin-top-set mar-wid-12">
    <div class="btn-row" >
      {% if user.is_admin or user.user_roles == "BranchManager" %}
      {% if savingsaccount.status == "Approved" %}
        <button title="Already Approved"><i class="fa fa-check-circle-o padd"></i>Approved</button>
      {% else %}
        <button class="change-account-status" data-href="Approved"><i class="fa fa-check-circle-o padd"></i>Approve</button>
      {% endif %}
      {% if savingsaccount.status == "Withdrawn" %}
        <button title="Already Withrawn"><i class="fa fa-arrow-circle-o-down padd"></i>Withdrawn</button>
      {% else %}
        <button class="change-account-status" data-href="Withdrawn"><i class="fa fa-arrow-circle-o-down padd"></i>Withdraw</button>
      {% endif %}
      {% if savingsaccount.status == "Rejected" %}
        <button title="Already Rejected"><i class="fa fa-times-circle-o padd"></i>Rejected</button>
      {% else %}
        <button class="change-account-status" data-href="Rejected"><i class="fa fa-times-circle-o padd"></i>Reject</button>
      {% endif %}
      {% if savingsaccount.status == "Closed" %}
        <button title="Already Closed"><i class="fa fa-trash-o padd"></i>Closed</button>
      {% else %}
        <button class="change-account-status" data-href="Closed"><i class="fa fa-trash-o padd"></i>Close</button>
      {% endif %}
      <br clear="all" />
      {% endif %}
    </div>
  </div>
  <!--form div starts below-->
  <div class="panel panel-default wrap-cp-div">
    <div class="panel-heading min-ht-res-60">
      <h3 class="panel-title">
        {% if client.is_active %}
        <i class="fa fa-square green padd"></i>
        {% else %}
        <i class="fa fa-square red padd"></i>{% endif %}
        {{ client.first_name|capfirst }} Savings Account</h3>
        <span class="mar-tp-m mar-tp-m24">
        <a href="{% url 'savings:listofclientsavingswithdrawals' client.id %}" class="view-tab-btn"><i class="fa fa-eye padd"></i>View Savings Withdrawals</a>
        <a href="{% url 'savings:listofclientsavingsdeposits' client.id %}" class="view-tab-btn"><i class="fa fa-eye padd"></i>View Savings Deposits</a>
        {% if user.is_admin == 0 and user.user_roles != "BranchManager" %}
          {% if savingsaccount.status == "Withdrawn" %}
            <a title="Already Withrawn" class="view-tab-btn"><i class="fa fa-arrow-circle-o-down padd"></i>Withdrawn</a>
          {% else %}
            <a data-href="Withdrawn" class="view-tab-btn change-account-status"><i class="fa fa-arrow-circle-o-down padd"></i>Withdraw</a>
          {% endif %}
        {% endif %}
        </span>
    </div>
    <div class="panel-body pb-pad">
      <form id="clientsavingsaccountform"  class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-6 col-xs-6 control-label">Account Number</label>
          <div class="col-sm-6 col-xs-6">
            <label for="inputEmail3" class="control-label">{{ savingsaccount.account_no }}</label>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-6 col-xs-6 control-label">Applied By Staff</label>
          <div class="col-sm-6 col-xs-6">
            <label for="inputEmail3" class="control-label">
            <a href="{% url 'micro_admin:userprofile' savingsaccount.created_by.id %}">
            {{ savingsaccount.created_by|capfirst }}</a>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-6 col-xs-6 control-label">Savings Balance</label>
          <div class="col-sm-6 col-xs-6">
            <label for="inputEmail3" class="control-label">{{ savingsaccount.savings_balance|floatformat:2 }}</label>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-6 col-xs-6 control-label">Activation date</label>
          <div class="col-sm-6 col-xs-6">
            <label for="inputEmail3" class="control-label">{{ savingsaccount.opening_date }}</label>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-6 col-xs-6 control-label">Status</label>
          <div class="col-sm-6 col-xs-6">
            {% if savingsaccount.status == "Applied" %}
            <label for="inputEmail3" class="control-label" style="color:#337ab7;">
            {% elif savingsaccount.status == "Withdrawn" %}
            <label for="inputEmail3" class="control-label" style="color:#FF6600;">
            {% elif savingsaccount.status == "Approved" %}
            <label for="inputEmail3" class="control-label" style="color:#008000;">
            {% elif savingsaccount.status == "Rejected" %}
            <label for="inputEmail3" class="control-label red">
            {% elif savingsaccount.status == "Closed" %}
            <label for="inputEmail3" class="control-label" style="color:#660099;">
            {% endif %}
            {{ savingsaccount.status }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-6 col-xs-6 control-label">Annual Interest Rate</label>
          <div class="col-sm-6 col-xs-6">
            <label for="inputEmail3" class="control-label">{{ savingsaccount.annual_interest_rate }} %</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--wrapper ends above-->
<script type="text/javascript">
  $(document).ready(function() {
    $('.change-account-status').click(function(e) {
      e.preventDefault();
      var submit_url = "{% url 'savings:change-savings-account-status' savingsaccount.id %}"
      $.post(submit_url, {"status": $(this).attr("data-href"), "csrfmiddlewaretoken": $("input[name='csrfmiddlewaretoken']").val() }, function(data) {
        if (data.error) {
          alert(data.error_message);
        }
        else {
          alert("Member savings account status changed successfully");
          window.location = '.';
        }
      }, "json");
    });
  });
</script>
{% endblock %}