{% extends 'base.html' %}
{% block breadcrumb %}
<li><a href="{% url 'micro_admin:branchprofile' client.branch.id %}">{{ client.branch.name|capfirst }} Branch</a></li>
<li><a href="{% url 'micro_admin:clientprofile' client.id %}">{{ client.first_name|capfirst }} Member</a></li>
<li>Add Savings Application</li>
{% endblock %}
{% block stage %}
<!--content goes below-->
<div class="container">
  <!--form div starts below-->
  <div class="panel panel-default my-panel margin-top-set">
    <div class="panel-heading">
    {% if client.is_active %}
     <i class="fa fa-square green padd"></i>{% else %}<i class="fa fa-square red padd"></i>{% endif %}
    {{client.first_name|capfirst}} Savings Application</div>
    <div class="panel-body pb-pad">
      <form id="clientsavingsapplicationform" class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Savings A/C. No.</label>
          <div class="col-sm-8">
            <input type="hidden"  id="client_id" value="{{client.id}}" style="dispaly:none;">
            <input type="text" class="text-box wid-form" name="account_no" value="{{ account_no }}" id="account_no">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Created By</label>
          <div class="col-sm-8">
            <input type="text" class="text-box wid-form" value="{{ user.username }}" id="created_by">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Opening Date<span>*</span></label>
          <div class="col-sm-8">
            <input type="text" class="text-box wid-form" name="opening_date" id="date-picker-cc">
            <p id="opening_date"></p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Minimum Balance<span>*</span></label>
          <div class="col-sm-8">
            <input type="text" class="text-box wid-form" name="min_required_balance" id="min_required_balance">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Annual Interest Rate<span>*</span></label>
          <div class="col-sm-8">
            <input type="text" class="text-box wid-form" name="annual_interest_rate" id="annual_interest_rate">
          </div>
        </div>
        <div class="form-group btns">
          <button class="submit-btn" type="submit"><i class="fa fa-check padd"></i>Submit</button>
          <button class="cancel-btn" type="reset"><i class="fa fa-times padd"></i>Cancel</button>
        </div>
      </form>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
<script type="text/javascript">
  $(document).ready(function() {
    $('#clientsavingsapplicationform').submit(function(e) {
      e.preventDefault();
      $.post('.', $('#clientsavingsapplicationform').serialize(), function(data) {
        if (data.error) {
          $("span.error").remove();
          $.each(data.errors, function( key, value ) {
            $('#'+key).after("<span class='error' style='height:11px;color:red;'>" + value + "</span>");
          });
        }
        else {
          url = "{% url 'savings:clientsavingsaccount' 1 %}".replace(1, data.client_id)
          window.location = url;
        }
      }, "json");
    });
    $('.cancel-btn').click(function(e){
      $("span.error").remove();
    });
  });
</script>
{% endblock %}