{% extends 'base.html' %}
{% block breadcrumb %}
<li><a href="{% url 'micro_admin:branchprofile' client.branch.id %}">{{ client.branch.name|capfirst }} Branch</a></li>
<li><a href="{% url 'micro_admin:clientprofile' client.id %}">{{ client.first_name|capfirst }} Member</a></li>
<li>View Savings Withdrawals</li>
{% endblock %}
{% block stage %}
<!--content goes below-->
<div class="container">
  <!--form div starts below-->
  <div class="panel panel-default my-panel-bprofile margin-top-set">
    <div class="panel-heading min-ht-res-60">
      <h3 class="panel-title">
        {% if client.is_active %}
        <i class="fa fa-square green padd"></i>
        {% else %}
        <i class="fa fa-square red padd"></i>
        {% endif %}{{client.first_name|capfirst}} {{client.last_name|capfirst}} Savings Withdrawals List</h3>
        <span class="mar-tp-m"><a href="{% url 'savings:clientsavingsaccount' client.id %}" class="view-tab-btn ed-btn"><i class="fa fa-arrow-circle-left padd"></i>Back</a></span>
    </div>
    <div class="panel-body pb-table">
      <!--panel body starts above-->
      <form class="form-horizontal" role="form">
      <!--div 1 0f form-->
      <div class="box-form">
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 control-label">Number of Withdrawals :</label><span class="col-lg-6 mar-top"><b>{{ savings_withdrawals_list.count }}</b></span>
        </div>
      </div>
      <!--div 1 of fomr ends above-->
      <br clear="all" />
      <div class="hg-table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="head-row-tb">
              <th>S.No</th>
              <th>Voucher No</th>
              <th>Withdrawn Date</th>
              <th>Group A/C Number</th>
              <th>Member Name</th>
              <th>Member A/C Number</th>
              <th>Amount Withdrawn</th>
            </tr>
          </thead>
          <tbody class="body-row-tb">
            {% for saving_withdraw in savings_withdrawals_list %}
            <tr>
              <td><b>{{ forloop.counter }}</b></td>
              <td><b>{{ saving_withdraw.voucher_number }}</b></td>
              <td>{{ saving_withdraw.date }}</td>
              <td>{{ saving_withdraw.group.name|capfirst }}</td>
              <td>{{ saving_withdraw.client.first_name|capfirst }}</td>
              <td>{{ saving_withdraw.client.account_number }}</td>
              <td style="color:#FF00CC;">{{ saving_withdraw.total_amount|floatformat:2 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
{% endblock %}