{% extends 'base.html' %}
{% block breadcrumb %}
<li><a href="{% url 'micro_admin:branchprofile' savingsaccount.client.branch.id %}">{{ savingsaccount.client.branch.name|capfirst }} Branch</a></li>
<li><a href="{% url 'micro_admin:clientprofile' savingsaccount.client.id %}">{{ savingsaccount.client.first_name|capfirst }} Member</a></li>
<li>View Savings Deposits</li>
{% endblock %}
{% block stage %}
<!--content goes below-->
<div class="container">
  <!--form div starts below-->
  <div class="panel panel-default my-panel-bprofile margin-top-set">
    <div class="panel-heading min-ht-res-60">
      <h3 class="panel-title">
        {% if savingsaccount.client.is_active %}
        <i class="fa fa-square green padd"></i>
        {% else %}
        <i class="fa fa-square red padd"></i>
        {% endif %}{{savingsaccount.client.first_name|capfirst}} {{savingsaccount.client.last_name|capfirst}} Savings Deposits</h3>
        <span class="mar-tp-m"><a href="{% url 'savings:clientsavingsaccount' savingsaccount.client.id %}" class="view-tab-btn ed-btn"><i class="fa fa-arrow-circle-left padd"></i>Back</a></span>
    </div>
    <div class="hg-table panel-body pb-table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="head-row-tb">
              <th>S.No</th>
              <th>Receipt Number</th>
              <th>Member Account Number</th>
              <th>Deposit Done by</th>
              <th>Deposited Date</th>
              <th>Deposit Amount</th>
              <th>Savings Balance</th>
            </tr>
          </thead>
          <tbody class="body-row-tb">
            {% for receipt in receipts_lists %}
            <tr>
              <td><b>{{ forloop.counter }}</b></td>
              <td>{{ receipt.receipt_number }}</td>
              <td>{{ receipt.client.account_number }}</td>
              <td>{{ receipt.staff|capfirst }}</td>
              <td>{{ receipt.date }}</td>
              <td style="color:#FF00CC;">{{ receipt.savingsdeposit_thrift_amount|floatformat:2 }}</td>
              <td>{{ receipt.savings_balance_atinstant|floatformat:2 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
{% endblock %}