body {
  font-family: 'muli';
  background-color: #ffffff; }

.nav-header {
  background-color: #34a5b1;
  margin: 0px; }
  .nav-header .header-logo {
    float: left;
    width: 9%; }

.header-content {
  width: 100%;
  padding: 11px;
  font-size: 26px;
  height: 60px; }
  .header-content a {
    color: #ffffff;
    font-weight: 600; }
    .header-content a:hover {
      text-decoration: none; }

.notification {
  float: left;
  margin-top: 15px; }
  .notification i {
    font-size: 23px;
    color: #ffffff;
    margin-right: 20px;
    margin-top: 3px; }

.profile {
  float: left;
  margin-top: 15px; }
  .profile i {
    font-size: 23px;
    color: #ffffff; }
  .profile .profile_dropdown {
    float: right;
    background: none;
    border: none; }
    .profile .profile_dropdown i {
      font-size: 25px; }

.dropdown-menu.profile_logout.show {
  left: -18px !important;
  top: 6px !important;
  min-width: 5rem !important; }

.banner_content {
  width: 50%;
  height: 300px;
  background-color: #ffffff;
  margin: 0px auto;
  margin-top: 50px;
  text-align: center; }
  .banner_content h2 {
    font-size: 35px;
    padding-top: 40px; }
  .banner_content .select_banner {
    margin-top: 50px; }
    .banner_content .select_banner .branch {
      background: #dddddd;
      border: 1px solid #dddddd;
      padding: 8px 40px;
      font-size: 20px; }

.select_or {
  background: #ddd;
  padding: 13px 15px;
  border-radius: 50%;
  font-size: 18px; }

.navbar-light {
  padding: 11px;
  margin-left: 75px; }
  .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 13px;
    padding: 9px 20px;
    font-weight: 600; }
    .navbar-light .navbar-nav .nav-link:hover {
      color: #fbe207; }
    .navbar-light .navbar-nav .nav-item.active {
      border-bottom:2px solid #fbe207;
      color: #fbe207;
      }

/*listpage */
.search_list {
  margin-top: 50px; }
  .search_list .input-group .form-control {
    border-bottom: 1px solid #dddddd !important;
    border: none; }
  .search_list .input-group .input-group-addon {
    border: none !important; }
  .search_list .branch {
    background: #dddddd;
    border: 1px solid #dddddd;
    padding: 2px 12px;
    font-size: 20px;
    border-radius: 4px; }

.list_page_view {
  margin-top: 50px; }
  .list_page_view .table td {
    border: none !important;
    font-size: 14px; }
    .list_page_view .table td i {
      font-size: 15px;
      padding: 3px;
      padding-left: 10px; }
  .list_page_view .table thead th {
    border-bottom: 1px solid #ddd;
    border-top: none; }
.red{
  color: red;
}
.green{
  color: green;
}

/*# breadcrumbcontainer */
.breadcrumbcontainer{
  width: 100%;
  text-align: center;}
  ol.breadcrumb{
    background: none!important;
    display: inline-flex;
  }

.testing_head {
  margin-top: 0px;
  width: 100%; }
  .testing_head h3 {
    padding-top: 30px;
    text-align: center; }

.row.group_list .detail_list {
  margin-top: -29px;
  padding: 9px;
  background-color: rgba(96, 125, 139, 0.83);
  height: 615px; }

.sub-menu {
  list-style: none;
  padding-left: 5px; }
  .sub-menu li {
    list-style: none;
    font-size: 1.3rem; }
    .sub-menu li a {
      font-size: 1.0rem;
      padding: 8px;
      display: block;
      color: #fff; }
      .sub-menu li a:hover {
        text-decoration: none; }

.list_header {
  border-bottom: 1px solid #ddd; }

.receipt_list {
  background-color: #ffffff;
  font-size: 14px;
  color: #000;
  margin-bottom: 0px; 
  margin-top: -151px}
  .receipt_list td {
    border: none;
    padding: 10px; }
  .receipt_list th {
    border: none;
    width: 25%;
    padding: 8px; }

.testing_branch {
  background-color: #fff;
  height: 450px;
  margin: 0px;
  margin-top: 5px; }
  .testing_branch .list_detail_view {
    height: 50px;
    background: #ddd;
    margin-top: 7px; }
    .testing_branch .list_detail_view .count_list {
      width: 79%;
      height: 50px;
      float: left; }
      .testing_branch .list_detail_view .count_list h4 {
        font-size: 16px;
        padding: 5px;
        margin-bottom: 0px;
        font-weight: 700; }
      .testing_branch .list_detail_view .count_list p {
        font-size: 14px;
        padding-left: 5px;
        margin: 0px; }
    .testing_branch .list_detail_view .count_list_members {
      width: 72%;
      height: 50px;
      float: left; }
      .testing_branch .list_detail_view .count_list_members h4 {
        font-size: 16px;
        padding: 5px;
        margin-bottom: 0px;
        font-weight: 700; }
      .testing_branch .list_detail_view .count_list_members p {
        font-size: 14px;
        padding-left: 5px;
        margin: 0px; }
    .testing_branch .list_detail_view .detail_list_icon i {
      padding: 9px;
      margin-top: 8px;
      background: #34a5b1;
      border-radius: 50px;
      color: #fff; }

.breadcrumb {
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 0px;
  font-size: 13px;
  padding: 5px; }
