@charset "utf-8";
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 80%;
  }

  form .box-form {
    width: 49%;
    float: left;
    margin: 0px auto;
    padding: 0px 20px;
  }
}

@media (min-width: 992px)  and (max-width :1199px) {
 /* CSS Document */
  .container {
    width: 80%;
  }

  .container .form-div {
    width: 70%;
  }

  .container .my-panel {
    width: 75%;
  }

  form .box-form {
    width: 49%;
    float: left;
    margin: 0px auto;
    padding: 0px 20px;
  }
}

@media (min-width: 768px) and (max-width :991px) {
 
  .container {
    width: 90%;
  }

  .container .form-div {
    width: 98%;
  }

  .container .my-panel {
    width: 80%;
  }

  form .box-form {
    width: 98%;
    float: left;
    margin: 0px auto;
  }

  .container .my-panel-bprofile, .container .my-panel-bp {
    width: 98%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
 
  .container {
    width: 100%;
  }

  .container .form-div {
    width: 98%;
    margin-top: 100px;
  }

  .container .my-panel {
    width: 95%;
  }

  .my-panel .pb-pad {
    margin-left: 0px;
  }
/*nav*/
  nav ul {
    left: 15px;
  }

  .nav li {
    text-align: left;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
    font-size: 14px;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    background: #444;
    color: #ddd;
  }

/*nav*/
/*user creation*/
  .container .my-panel-2 {
    width: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  form .box-form {
    width: 98%;
    float: left;
    margin: 0px auto;
  }
/*user creation*/
/*branch-profile*/
  .container .my-panel-bprofile, .container .my-panel-bp {
    width: 98%;
  }
/*branch-profile*/
  .wrap-cp-div .clr-div .img-div, .wrap-cp-div .clr-div .details-div {
    width: 100%;
  }
}