@charset "utf-8";
/* CSS Document */

/* Stuff I added */
.menu-outer:hover ~ .menu-close {
  margin-right: -100px;
}

.menu-outer:hover .bar {
  background: rgba(66,59,51,0.6);
}

.menu-outer > nav ul {
  top: 15%;
}

/* The rest I chnaged parts but not most of it */

html, body {
}

.menu-outer {
  overflow: hidden;
  position: fixed;
  top: 0;
  /* padding-right: 38px; */
  font-family: 'Montserrat', serif;
  z-index: 998;
  width: 100%;
  left: 100%;
  margin-left: -54px;
  height: 200%;
  background: #ca3d6d;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-outer:hover {
  background: rgba(66,59,51,0.6);
  left: 0;
  margin-left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.menu-icon {
  z-index: 999;
  position: absolute;
  top: 31px;
  left: 5px;
  width: 23px;
  pointer-events: none;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.menu-icon .bar {
  background: rgba(250,250,250,1);
  width: 100%;
  height: 2px;
  margin: 0 0 3px;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.menu-outer:hover > .menu-icon {
  opacity: 1;
}

nav ul {
  position: absolute;
  width: 100%;
  padding: 0;
  left: 10%;
  ; /*prevents possible click when not oppened*/
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}
/*nav ul*/
.li-wrap {
  display: block;
  float: left;
}

.li-wrap h3 {
  color: #fff;
  font-weight: 400;
}

#slide-nav {
  margin: 0px;
  padding: 0px;
}

#slide-nav ul {
  position: absolute;
  left: 0px;
  text-align: center;
  vertical-align: middle;
}

#slide-nav ul li {
  list-style: none;
  display: inline-block;
}

#slide-nav ul li .icon-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 100px;
  margin-top: 10px;
  color: #fff;
  transition: 1s;
}

#slide-nav ul li .icon-circle i {
  font-size: 29px;
  margin-top: 20px;
  margin-left: 3px;
}

#slide-nav ul li .icon-circle .users-icon {
  margin-left: 1px;
}

#slide-nav ul li .icon-circle .mem-icon {
  margin-left: 0px;
}

#slide-nav ul li .icon-circle:hover {
  background: #fff !important;
  width: 120px !important;
  height: 120px !important;
  transition: 1s;
  color: inherit !important;
  transform: rotate(360deg);
}

#slide-nav ul li .icon-circle .hov-car-icon {
  float: left;
  color: #ddd;
  transform: rotate(317deg);
  font-size: 48px;
  margin-top: 34px;
  margin-left: 90px;
  display: none;
  transition: 0.5s ease-in;
}

#slide-nav .slide-nav-drop {
  position: relative;
  display: none;
  transition: 0.5s ease-in;
}

#slide-nav .slide-nav-drop ul {
  margin-top: -90px;
  margin-left: 201px;
  text-align: left;
  width: 179px;
}

#slide-nav .slide-nav-drop ul li {
  list-style: none;
  display: block;
}

#slide-nav .slide-nav-drop ul li a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 18px;
  transition: 0.2s;
  margin: 8px 0px;
}

#slide-nav .slide-nav-drop ul li a:hover {
  font-size: 22px;
  font-weight: 500;
  transition: 0.2s;
}

/*nav ul*/

}

@media screen and (max-width: 600px), screen and (max-height: 600px) {
  nav ul {
    font-size: .75em;
  }

  nav ul a {
    padding: 10px;
  }
}

.menu-close {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 100%;
  width: 200px;
  height: 200px;
  background: #444;
  cursor: pointer;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-close .menu-icon {
  right: 15px;
  left: auto;
  top: 68px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-close .bar {
  background: #fff;
  width: 100%;
  height: 5px;
  position: absolute;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
}

.menu-close .bar:first-child {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-close .bar:last-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (min-width: 1200px) {
}

@media (max-width: 800px) {
  .menu-outer > nav ul {
    top: 1%;
  }

  .li-wrap h3 {
    font-size: 18px;
    margin-top: 15px !important;
  }

  #slide-nav ul li .icon-circle {
    width: 50px;
    height: 50px;
    margin: 20px 130px;
  }

  #slide-nav ul li .icon-circle i {
    font-size: 22px;
    margin-top: 14px;
    margin-left: 1px;
  }

  #slide-nav ul li {
    display: block;
  }

  #slide-nav ul li .icon-circle:hover {
    width: 70px !important;
    height: 70px !important;
  }

  #slide-nav ul li .icon-circle .hov-car-icon {
    margin-top: 9px;
    margin-left: 45px;
    font-size: 40px;
    transform: rotate(-37deg);
  }

  #slide-nav .slide-nav-drop ul {
    margin: 0px;
    margin-left: 206px;
    margin-top: -27px;
    text-align: center;
    width: auto;
  }

  #slide-nav .slide-nav-drop ul li a {
    font-size: 13px;
  }

  #slide-nav .slide-nav-drop ul li a:hover {
    font-size: 16px;
  }
}
