{% extends 'group/groupbase.html' %}
{% block groupbreadcrumb %}
<li>Savings Account</li>
{% endblock %}
{% block groupstage %}
<div class="col">
  <div class="container">
    <div class="row">
        <div class="testing_head">
          <h3>ABC Savings Account</h3>
        </div>
        <div class="col-10 view_deposit">
          <div class="view_transations">
            <a href="{% url 'savings:viewgroupsavingswithdrawals' group.id %}" class="view-tab-btn">View Withdraws</a>
            <a href="{% url 'savings:viewgroupsavingsdeposits' group.id %}" class="view-tab-btn">View Deposits</a>
            {% if user.is_admin == 0 and user.user_roles != "BranchManager" %}
              {% if savings_account.status == "Withdrawn" %}
                <a title="Account has already been Withdrawn" class="view-tab-btn"></i>Withdrawn</a>
              {% else %}
                <a data-href="Withdrawn" class="view-tab-btn change-account-status"></i>Withdraw</a>
              {% endif %}
            {% endif %}
            <span class="pull-right"> 
              <i class="fa fa-download orange" aria-hidden="true"></i>
              <i class="fa fa-check-circle blue" aria-hidden="true"></i>
              <i class="fa fa-times-circle red" aria-hidden="true"></i>
              <i class="fa fa-trash-o green" aria-hidden="true"></i>
            </span>
          </div>
        </div>
    </div>
    <div class="container">
      <div class="col-10 savings_account_list">
        <div class="row">
          <div class="col-6">
            <div class="receipt_form">
              <div class="input-group">
                <label class="filter_branch">Account Number :
                <input name="myBrowser" class="locations" value="{{ savings_account.account_no }}" /></label>
              </div>
              <div class="input-group">
                <label class="filter_branch"> Applied By Staff:
                <input name="myBrowser" class="locations" value="{{ savings_account.created_by|capfirst }}" /></label>
              </div>
              <div class="input-group">
                <label class="filter_branch"> Current Balance:
                <input name="myBrowser" class="locations" value="{{ savings_account.savings_balance|floatformat:2 }}" /></label>
              </div>
              <div class="input-group">
                <label class="filter_branch">Share Capital  :
                <input name="myBrowser" class="locations" value="{{ totals.sharecapital_amount|floatformat:2 }}" /></label>
              </div>
              <div class="input-group">
                <label class="filter_branch">Entrance Fee:
                <input name="myBrowser" class="locations" value="{{ totals.entrancefee_amount|floatformat:2 }}" /></label>
              </div>
               <div class="input-group">
                <label class="filter_branch">Membership Fee :
                <input name="myBrowser" class="locations" value="{{ totals.membershipfee_amount|floatformat:2 }}" /></label>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="receipt_form">
              <div class="input-group">
                <label class="filter_branch"> Opened On:
                <input name="myBrowser" class="locations" value="{{ savings_account.opening_date }}" /></label>
              </div>
              <div class="input-group">
                <label class="filter_branch">Status:
                <input name="myBrowser" class="locations" value="{{ savings_account.status }}" /></label>
              </div>
              <div class="input-group">
                <label class="filter_branch"> Annual intrest Rate:
                <input name="myBrowser" class="locations" value="{{ savings_account.annual_interest_rate }}" /></label>
              </div>
              <div class="input-group">
                <label class="filter_branch">Book Fee :
                <input name="myBrowser" class="locations" value="{{ totals.bookfee_amount|floatformat:2 }}" /></label>
              </div>
              <div class="input-group">
                <label class="filter_branch">Insurance Amount :
                <input name="myBrowser" class="locations" value="{{ totals.insurance_amount|floatformat:2 }}" /></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.change-account-status').click(function(e) {
      e.preventDefault();
      var submit_url = "{% url 'savings:change-savings-account-status' savings_account.id %}"
      $.post(submit_url, {"status": $(this).attr("data-href"), "csrfmiddlewaretoken": $("input[name='csrfmiddlewaretoken']").val() }, function(data) {
        if (data.error) {
          alert(data.error_message);
        }
        else {
          alert("Group savings account status changed sucessfully");
          window.location = '.'
        }
      }, "json");
    });
  });
</script>
{% endblock %}