{% extends 'group/groupbase.html' %}
{% block groupbreadcrumb %}
<li>View Savings Deposits</li>
{% endblock %}
{% block groupstage %}
<div class="home-div-gp">
  <div class="panel panel-default panel-hdg">
    <div class="panel-heading min-ht-res-60">
      <h3 class="panel-title">
        {% if group.is_active %}<i class="fa fa-square green padd"></i>{% else %}<i class="fa fa-square red padd"></i>{% endif %}
        {{ group.name|capfirst }} Savings Deposits</h3>
        <span class="mar-tp-m"><a href="{% url 'savings:groupsavingsaccount' group.id %}" class="view-tab-btn ed-btn"><i class="fa fa-arrow-circle-left padd"></i>Back</a></span>
    </div>
    <div class="panel-body">
      <!--panel body starts above-->
      <form class="form-horizontal" role="form">
      <!--div 1 0f form-->
      <div class="box-form">
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 col-xs-6 control-label">Number of Deposits :</label><span class="col-lg-6 mar-top"><b>{{ receipts_list.count }}</b></span>
        </div>
      </div>
      <!--div 1 of fomr ends above-->
      <br clear="all" />
      <div class="hg-table">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Receipt No</th>
                <th>Deposited Date</th>
                <th>Group A/C Number</th>
                <th>Member Name</th>
                <th>Member A/C Number</th>
                <th>Amount Deposited</th>
                <th>Savings Balance</th>
                <th>Deposit Done By</th>
              </tr>
            </thead>
            <tbody>
              {% for receipt in receipts_list %}
              <tr>
                <td><b>{{ forloop.counter }}</b></td>
                <td><b>{{ receipt.receipt_number }}</b></td>
                <td>{{ receipt.date }}</td>
                <td>{{ group.account_number }}</td>
                <td><a href="{% url 'micro_admin:clientprofile' receipt.client.id %}">{{ receipt.client.first_name|capfirst }}</a></td>
                <td>{{ receipt.client.account_number }}</td>
                <td><span style="color:#FF00CC;">{{ receipt.savingsdeposit_thrift_amount|floatformat:2 }}</span></td>
                <td>{{ receipt.savings_balance_atinstant|floatformat:2 }}</td>
                <td>{{ receipt.staff.username|capfirst }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--panel body ends below crct-->
  </div>
</div>
<!--content ends above-->
{% endblock %}