{% extends 'base.html' %}
{% block breadcrumb %}
<li>Deposits</li>
<li>Add Fixed Deposit</li>
{% endblock %}
{% block stage %}
<div class="row group_list">
  <div class="col">
    <div class="container">
      <div class="row">
        <div class="testing_head">
          <h3>New Fixed Deposite Application</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="fixed_deposite_list">
    <form id="fixeddepositapplicationform" class="form-horizontal" role="form" method="POST">
      {% csrf_token %}
      <h6> Nominee Details</h6>
       <div class="row">
         <div class="input-group">
            <label class="filter_branch">F.D Account Number :
            <input name="fixed_deposit_number" id="fixed_deposit_number" class="locations"/></label>
            <label class="filter_branch"> First Name :
            <input name="nominee_firstname" class="locations" id="nominee_firstname" /></label>
          </div>
          <div class="input-group">
            <label class="filter_branch"> Member Name :
            <input name="client_name" id="client_name" class="locations"/></label>
            <label class="filter_branch">Last Name  :
            <input name="nominee_lastname" id="nominee_lastname" class="locations"/></label>
          </div>
          <div class="input-group">
            <label class="filter_branch">Deposite Period:
            <input name="fixed_deposit_period" id="fixed_deposit_period" class="locations"/></label>
            <label class="filter_branch"> Nominee Occupation :
            <input name="nominee_occupation" id="nominee_occupation" class="locations"/></label>
          </div>
          <div class="input-group">
            <label class="filter_branch"> Date Of Deposite :
            <input name="deposited_date" id="deposited_date" class="locations"/></label>
            <label class="filter_branch">Date Of Birth  :
            <input name="nominee_date_of_birth" id="nominee_date_of_birth"class="locations"/></label>
          </div>
          <div class="input-group">
            <label class="filter_branch"> Deposite Amount :
            <input name="fixed_deposit_amount" id="fixed_deposit_amount" class="locations"/></label>
            <label class="filter_branch"> Relationship with nominee :
            <input list="browsers" name="relationship_with_nominee" class="locations" id="relationship_with_nominee" /></label>
            <datalist id="browsers">
              <option value="">Select Relationship</option>
              <option>Father</option>
              <option>Mother</option>
              <option>Daughter</option>
              <option>Son</option>
              <option>Brother</option>
              <option>Nephew</option>
              <option>Niece</option>
              <option>Father-in-law</option>
              <option>Daugter-in-law</option>
              <option>Brother-in-law</option>
              <option>Aunt</option>
              <option>Granddaughter</option>
              <option>Grandfather</option>
              <option>Grandmother</option>
              <option>Grandson</option>
              <option>Mother-in-law</option>
            </datalist>
          </div>
          <div class="input-group">
            <label class="filter_branch"> Member A/C No :
            <input name="client_account_no" class="locations" id="client_account_no" /></label>
            <label class="gender" id="nominee_gender">Gender:
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="M" name="nominee_gender">Male
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="F" name="nominee_gender">Female
                </label>
              </div>
            </label>
          </div>
          <div class="input-group">
            <label class="filter_branch">Intrest Rate:
            <input name="fixed_deposit_interest_rate" id="fixed_deposit_interest_rate" class="locations"/></label>
            <label class="nominee_image"> Nominee Image:
            <input type="file" id="nominee_photo" name="nominee_photo"></label>
          </div>
          <div class="input-group">
            <div class="save_application">
            </div>
            <label class="nominee_sign"> Nominee Signature:
            <input type="file" id="nominee_signature" name="nominee_signature">
          </div>
          <div class="save_application">
           <button class="create_branch" type="submit">deposit</button>
           <button class="create_branch" type="reset">Cancel</button>
          </div>
       </div>
    </form>
  </div>
</div>
{% endblock %}
{% block extra_js %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="http://malsup.github.com/jquery.form.js"></script> 
<script>
  $('form#fixeddepositapplicationform').ajaxForm({
    dataType: 'json',
    type: "POST",
    url:".",
    data : $('#fixeddepositapplicationform').serialize(),
    success: function(data){
      $(".error").remove();
      if(data.error == false)
      {
        alert("FD Application Submitted sucessfully.");
        window.location = data.success_url;
      }
      else
      {
        $('.error').text('');
        if (data.message) {
          $.each(data.message, function( field, error ) {
            console.log(field)
            console.log(error)
            if (field == "nominee_gender"){
              $("#nominee_gender").html("<span class='error' style='height:11px;color:red;'>" + error + "</span>")
            }
            else{
              $("[name='" + field + "']").after("<span class='error' style='height:11px;color:red;'>" + error + "</span>")
            }
          });
        }
      }
    }
  });
</script>
{% endblock extra_js %}