{% extends 'base.html' %}
{% block breadcrumb %}
<li>Deposits</li>
<li>Add Fixed Deposit</li>
{% endblock %}
{% block stage %}
<!--content goes below-->
<head>
  <script src="http://malsup.github.com/jquery.form.js"></script>
</head>
<div class="container">
  <!--form div starts below-->
  <div class="panel panel-default my-panel wid-panel-form margin-top-set">
    <div class="panel-heading">
      <h3 class="panel-title">
      New Fixed Deposit Application
      </h3>
    </div>
    <div class="panel-body pb-pad">
      <form id="fixeddepositapplicationform" enctype="multipart/form-data" class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-5 control-label">FD Account Number<span>*</span></label>
          <div class="col-sm-7">
            <input type="text" class="text-box wid-form" name="fixed_deposit_number" id="inputEmail3" required="True">
            <p id="fixed_deposit_number"></p>
          </div>
        </div>
        <div class="form-group" style="margin-top: -10px;">
          <label for="inputEmail3" class="col-sm-5 control-label">Member Name<span>*</span></label>
          <div class="col-sm-7">
            <input type="text" class="text-box wid-form" name="client_name" id="inputEmail3" required="True">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-5 control-label">Member A/C No.<span>*</span></label>
          <div class="col-sm-7">
            <input type="text" class="text-box wid-form" name="client_account_no" id="inputEmail3" required="True">
            <p id="membererror"></p>
          </div>
        </div>
        <div class="form-group" style="margin-top: -10px;">
          <label for="inputEmail3" class="col-sm-5 control-label">Date of Deposit<span>*</span></label>
          <div class="col-sm-7">
            <input type="text" class="text-box wid-form" name="deposited_date" id="date-picker-cc" required="True">
            <p id="deposited_date"></p>
          </div>
        </div>
        <div class="form-group" style="margin-top: -10px;">
          <label for="inputEmail3" class="col-sm-5 control-label">Deposit Amount<span>*</span></label>
          <div class="col-sm-7">
            <input type="text" class="text-box wid-form" name="fixed_deposit_amount" required="True">
            <p id="fixed_deposit_amount"></p>
          </div>
        </div>
        <div class="form-group" style="margin-top: -10px;">
          <label for="inputEmail3" class="col-sm-5 control-label">Deposit Period(in months)<span>*</span></label>
          <div class="col-sm-7">
            <input type="text" class="text-box wid-form" name="fixed_deposit_period" id="inputEmail3" required="True">
            <p id="fixed_deposit_period"></p>
          </div>
        </div>
        <div class="form-group" style="margin-top: -10px;">
          <label for="inputEmail3" class="col-sm-5 control-label">Interest Rate<span>*</span></label>
          <div class="col-sm-7">
            <input type="text" class="text-box wid-form" name="fixed_deposit_interest_rate" id="inputEmail3" required="True">
            <p id="fixed_deposit_interest_rate"></p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-12 col-xs-12 control-label box-center"><b>Nominee Details</b></label>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-5 control-label">First Name<span>*</span></label>
          <div class="col-sm-7">
            <input type="text" class="text-box wid-form" name="nominee_firstname" required="True">
            <p id="nominee_firstname"></p>
          </div>
        </div>
        <div class="form-group" style="margin-top: -10px;">
          <label for="inputEmail3" class="col-sm-5 control-label">Last Name<span>*</span></label>
          <div class="col-sm-7">
            <input type="text" class="text-box wid-form" name="nominee_lastname" required="True">
            <p id="nominee_lastname"></p>
          </div>
        </div>
        <div class="form-group" style="margin-top: -10px;">
          <label for="inputEmail3" class="col-sm-5 control-label">Gender<span>*</span></label>
          <div class="col-sm-7">
            <div class="col-sm-8 mar-top-rad pad-lt-0">
              <input type="radio" name="nominee_gender" value="M">Male &nbsp;&nbsp;
              <input type="radio" name="nominee_gender" value="F">Female
              <p id="nominee_gender"></p>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-top: -10px;">
          <label for="inputEmail3" class="col-sm-5 control-label">Date of Birth<span>*</span></label>
          <div class="col-sm-7">
            <input type="text" class="text-box wid-form" id="datepicker-dob" name="nominee_date_of_birth" required="True">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-5 control-label">Relationship with Nominee<span>*</span></label>
          <div class="col-sm-7">
            <select class="text-box wid-form" name="relationship_with_nominee">
              <option>Select Relationship</option>
              <option>Father</option>
              <option>Mother</option>
              <option>Daughter</option>
              <option>Son</option>
              <option>Brother</option>
              <option>Nephew</option>
              <option>Niece</option>
              <option>Father-in-law</option>
              <option>Daugter-in-law</option>
              <option>Brother-in-law</option>
              <option>Aunt</option>
              <option>Granddaughter</option>
              <option>Grandfather</option>
              <option>Grandmother</option>
              <option>Grandson</option>
              <option>Mother-in-law</option>
            </select>
            <p id="relationship_with_nominee"></p>
          </div>
        </div>
        <div class="form-group" style="margin-top: -10px;">
          <label for="inputEmail3" class="col-sm-5 control-label">Nominee Occupation<span>*</span></label>
          <div class="col-sm-7">
            <input type="text" class="text-box wid-form" name="nominee_occupation" required="True">
            <p id="nominee_occupation"></p>
          </div>
        </div>
        <div class="form-group" style="margin-top: -10px;">
          <label for="inputEmail3" class="col-sm-5 control-label">Nominee Image<span>*</span></label>
          <div class="col-sm-7">
            <input type="file" class="input-file-pad-top-4" name="nominee_photo">
            <p id="nominee_photo"></p>
          </div>
        </div>
        <div class="form-group" style="margin-top: -10px;">
          <label for="inputEmail3" class="col-sm-5 control-label">Nominee Signature<span>*</span></label>
          <div class="col-sm-7">
            <input type="file" class="input-file-pad-top-4" name="nominee_signature">
            <p id="nominee_signature"></p>
          </div>
        </div>
        <div class="form-group btns" style="margin-top: -10px;">
          <button class="submit-btn" id="senddetails"><i class="fa fa-check padd"></i>Deposit</button>
          <button class="cancel-btn" type="reset"><i class="fa fa-times padd"></i>Cancel</button>
        </div>
      </form>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->

<script>
  $(document).ready(function() {
    $('#fixeddepositapplicationform').ajaxForm({
      dataType: 'json',
      data : $('#fixeddepositapplicationform').serialize(),
      type: "POST",
      success: function(data){
        if(data.error == false)
        {
          alert("FD Application Submitted sucessfully.");
          url = "{% url 'micro_admin:clientfixeddepositsprofile' 1 %}".replace(1, data.fixed_deposit_id)
          window.location = url;
        }
        else
        {
          $('.error').text('');
          if (data.message) {
            $.each(data.message, function( key, value ) {
              $('#'+key).prepend("<span class='error' style='height:11px;color:red;'>" + value + "</span>");;
            });
          }
          if (data.messagememerr) {
            $("#membererror").prepend("<span class='error' style='height:11px;color:red;'>" + data.messagememerr + "</span>");
          }
        }
      }
    });
  });
</script>
{% endblock %}