{% extends 'base.html' %}
{% block breadcrumb %}
<li>View Groups</li>
{% endblock %}
{% block stage %}
<div class="container">
  <div class="row search_list">
    <div class="col">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search branch" aria-label="Username" aria-describedby="sizing-addon2"> <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="col">
      <button type="button" class="pull-right branch">Create Group</button>
    </div>
  </div>
  <div class="row list_page_view">
    <table class="table table-striped" data-tablesaw-mode="columntoggle" id="active_users">
      <thead>
        <tr>
          <th width="20%" scope="col">Group Name</th>
          <th width="20%" scope="col">Account Number</th>
          <th width="20%" scope="col">Branch Name</th>
          <th width="15%" scope="col">Members Count</th>
          <th width="10%" scope="col">Status</th>
          {% if user.is_admin or user.user_roles == "BranchManager" %}
          <th width="15%" scope="col">Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for group in groups_list %}
        <tr>
          <td><a href="{% url 'micro_admin:groupprofile' group.id %}" style="color:#337ab7;">{{ group.name|capfirst }}</a>
          </td>
          <td>{{ group.account_number  }}</td>
          <td>{{ group.branch.name }}</td>
          {% with group.clients.all|length as clients_count %}
            <td>{{ clients_count }}<span style="text-align:left; float:none; padding-left:10px;">Member{{ clients_count|pluralize }}</span></td>
          {% endwith %}
          {% if group.is_active %}
          <td><i class="fa fa-circle green pad-lt"></i></td>
          {% else %}
          <td><i class="fa fa-circle red pad-lt"></i></td>
          {% endif %}
          {% if user.is_admin or user.user_roles == "BranchManager" %}
            <td style="padding-left: 18px;">
              <a id="viewgroup" href="{% url 'micro_admin:groupprofile' group.id %}"><i class="fa fa-eye"></i></a>
              <a id="deletegroup" href="{% url 'micro_admin:deletegroup' group.id %}"><i class="fa fa-trash-o trash-icon"></i></a>
            </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
