{% extends 'group/groupbase.html' %}
{% block breadcrumb %}
<li>Group Details</li>
{% endblock %}
{% block groupstage %}
  <div class="col">
    <div class="container">
      <div class="row">
        <div class="testing_head">
          <h3>{{ group.name|capfirst }} Group</h3>
        </div>
      </div>
      <div class="container">
        <div class="row testing_branch">
          <div class="col">
            <div class="list_detail_view red">
              <div class="count_list">
                <h4>{{ group.account_number }}</h4>
                <p>Account Number</p>
              </div>
              <div class="detail_list_icon">
                <i class="fa fa-credit-card red"></i>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="list_detail_view orange">
              <div class="count_list">
                <h4> {% if group.staff.first_name %}{{ group.staff.first_name }}
                {% else %}
                <a href="{% url 'micro_admin:assignstaff' group.id %}" title="Assign Staff">UnAssigned</a>
                {% endif %}</h4>
                <p>Staff</p>
              </div>
              <div class="detail_list_icon">
                <i class="fa fa-user orange"></i>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="list_detail_view green">
              <div class="count_list_members">
                <h4>{{ clients_count }}</h4>
                <p>Members</p>
              </div>
              <div class="detail_list_icon">
                <i class="fa fa-users green"></i>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="list_detail_view blue">
              <div class="count_list">
                <h4>{{ group.branch.name|capfirst }}</h4>
                <p> Branch Name</p>
              </div>
              <div class="detail_list_icon">
                <i class="fa fa-university blue"></i>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="list_detail_view yellow">
              <div class="count_list">
                <h4>{{ group.activation_date }}</h4>
                <p>Activated</p>
              </div>
              <div class="detail_list_icon">
                <i class="fa fa-calendar yellow"></i>
              </div>
            </div>
          </div>
          <div class="col-12 receipts">
            <table class="table table-striped receipt_list" data-tablesaw-mode="columntoggle" id="active_users">
              <thead>
                <tr>
                  <th>Member Name</th>
                  <th>Member A/C Number</th>
                  <th>Status</th>
                  {% if user.is_admin %}
                  <th>Delete</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for client in clients_list %}
                  <tr class="list">
                    <td><a href="{% url 'micro_admin:clientprofile' client.id %}">{{ client.first_name|capfirst }}</a></td>
                    <td>{{ client.account_number }}</td>
                    {% if client.is_active %}
                    <td>Active</td>
                    {% else %}
                    <td>InActive</td>
                    {% endif %}
                    <td class="anchr-trash">
                    {% if client.is_active %}
                    {% if user.is_admin %}
                    <a href="{% url 'micro_admin:removemember' group.id client.id %}"><i class="fa fa-trash-o trash-icon"></i></a>
                    {% endif %}
                    {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
