{% extends 'group/groupbase.html' %}
{% block groupbreadcrumb %}
<li>View Members</li>
{% endblock %}
{% block groupstage %}
<div class="home-div-gp">
  <div class="panel panel-default panel-hdg">
    <div class="panel-heading">
      <h3 class="panel-title">
        {% if group.is_active %}<i class="fa fa-square green padd"></i>{% else %}<i class="fa fa-square red padd"></i>
        {% endif %}
        {{ group.name|capfirst }} Group
      </h3>
    </div>
    <div class="panel-body">
      <!--panel body starts above-->
      <form class="form-horizontal" role="form">
      <!--div 1 0f form-->
      <div class="box-form">
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 control-label">Members :</label><span class="col-lg-6 mar-top">{{ clients_list|length }}</span>
        </div>
      </div>
      <!--div 1 of fomr ends above-->
      <br clear="all" />
      <div class="hg-table">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>A/C Number</th>
                <th>Status</th>
                <th>Role</th>
                <th>Branch Name</th>
                {% if user.is_admin %}
                <th>Delete</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for client in clients_list %}
              <tr>
                <td><a href="{% url 'micro_admin:clientprofile' client.id %}">{{ client.first_name|capfirst }}</a></td>
                <td>{{ client.account_number }}</td>
                {% if client.is_active %}
                <td><i class="fa fa-square green padd"></i>Active</td>
                {% else %}
                <td><i class="fa fa-square red padd"></i>InActive</td>
                {% endif %}
                <td>{{ client.client_role }}</td>
                <td><a href="{% url 'micro_admin:branchprofile' client.branch.id %}">{{ client.branch.name|capfirst }}</a></td>
                {% if client.is_active %}
                {% if user.is_admin %}
                <td class="anchr-trash"><a href="{% url 'micro_admin:removemember' group.id client.id %}" title="Remove Member"><i class="fa fa-trash-o trash-icon"></i></a></td>
                {% endif %}
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--panel body ends below crct-->
  </div>
</div>
<!--content ends above-->
{% endblock %}