{% extends 'groupbase.html' %}
{% block groupbreadcrumb %}
<li>Add Group Meeting</li>
{% endblock %}
{% block groupstage %}
<div class="home-div-gp wid-ass-stf mar-left-30">
<div class="panel panel-default panel-hdg">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% if group.is_active %}<i class="fa fa-square green padd"></i>{% else %}<i class="fa fa-square red padd"></i>{% endif %}
      {{ group.name|capfirst }} Group
    </h3>
  </div>
  {% if latest_group_meeting %}
  <div class="panel-body1">
    <form class="form-horizontal" role="form">
      <div class="box-form">
        <div class="form-group grp-view">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 control-label">Last Meeting Date :</label><span class="col-lg-6 mar-top">{{ latest_group_meeting.meeting_date }}</span>
        </div>
      </div>
      <!--div 1 of fomr ends above-->
      <!--div 2 of form starts below-->
      <div class="box-form">
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-5 control-label">Last Meeting Time :</label><span class="col-lg-6 mar-top">{{ latest_group_meeting.meeting_time }}</span>
        </div>
      </div>
    </form>
  </div>
  {% endif %}
  <div class="panel-body">
    <!--panel body starts above-->
    <form id="addgroupmeetingform" class="form-horizontal" role="form" action="{% url 'micro_admin:addgroupmeeting' group.id %}" method="post">
      {% csrf_token %}
      <!--div 1 0f form-->
      <div class="box-form-as">
        <div class="form-group" style="margin-top: -10px;">
          <label for="inputEmail3" class="col-sm-4 control-label" style="text-align:right;">Meeting Date</label>
          <div class="col-sm-6">
            <input type="text" class="wid-form" name="meeting_date" id="datepicker" />
          </div>
        </div>
        <div class="form-group" style="margin-top: -10px;">
          <label for="inputEmail3" class="col-sm-4 control-label" style="text-align:right;">Meeting Time</label>
          <div class="col-sm-6">
            <input type="text" class="wid-form" id="timepicker" name="meeting_time" />
          </div>
        </div>
        <!--div 1 of fomr ends above-->
        <div class="btns-row" style="margin-top: -10px;">
          <div class="form-group btns align-btns">
            <button class="submit-btn" type="submit"><i class="fa fa-check padd"></i>Submit</button>
            <button class="cancel-btn" type="reset"><i class="fa fa-times padd"></i>Cancel</button>
          </div>
        </div>
    </form>
    </div>
    <!--panel body ends below crct-->
  </div>
</div>
<!--content ends above-->
{% endblock %}