<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MicroFinance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css" />
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- your style sheet-->
    <link rel="stylesheet" href="/static/css/mf_slidebar.css" />
    <link rel="stylesheet" href="/static/css/mf.css" />
    <link rel="stylesheet" href="/static/css/mf_res.css" />
    <link rel="stylesheet" href="/static/css/mf_mob.css" />
    <!--your style sheet-->
  </head>
  <body>
    <!--wrapper starts below-->
    <div class="wrapper">
    <!--container starts  below-->
    <div class="container">
      <!--slide-menu-->
      <div class="menu-outer">
        <div class="menu-icon">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <nav>
          <div class="list">
            <div class="slide-div">
              <a href="#" class="anc1"><i class="fa fa-sitemap padd"></i>Branch<i class="fa fa-caret-down padd-lft"></i></a>
              <div id="tog-div1" class="tog-div">
              {% if user.is_admin %}
                <a href="{% url 'micro_admin:createbranch' %}"><i class="fa fa-plus padd"></i>Create Branch</a>
                <a href="{% url 'micro_admin:viewbranch' %}"><i class="fa fa-eye padd"></i>View Branch</a>
              {% else %}
                <a href="{% url 'micro_admin:viewbranch' %}"><i class="fa fa-eye padd"></i>View Branch</a>
              {% endif %}
              </div>
            </div>
            <div class="slide-div">
              <a href="#" class="anc2"><i class="fa fa-user padd-u"></i>User<i class="fa fa-caret-down padd-lft-u"></i></a>
              <div id="tog-div2" class="tog-div">
                <a href="{% url 'micro_admin:createuser' %}"><i class="fa fa-plus padd"></i>Create User</a>
                <a href="#"><i class="fa fa-eye padd"></i>View User</a>
              </div>
            </div>
            <div class="slide-div">
              <a href="#" class="anc3"><i class="fa fa-users padd"></i>Group<i class="fa fa-caret-down padd-lft-g"></i></a>
              <div id="tog-div3" class="tog-div">
                <a href="#"><i class="fa fa-plus padd"></i>Create Group</a>
                <a href="#"><i class="fa fa-eye padd"></i>View Group</a>
              </div>
            </div>
            <div class="slide-div">
              <a href="#" class="anc4"><i class="fa fa-user padd"></i>Client<i class="fa fa-caret-down padd-lft-u"></i></a>
              <div id="tog-div4" class="tog-div">
                <a href="{% url 'micro_admin:createclient' %}"><i class="fa fa-plus padd"></i>Create Client</a>
                <a href="#"><i class="fa fa-eye padd"></i>View Client</a>
              </div>
            </div>
        </nav>
        </div>
        <a class="menu-close" onClick="return true">
          <div class="menu-icon">
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </a>
        <!--slide menu ends above-->
      </div>
      <!--container ends above-->
      <!--nav bar starts below-->
      <header>
        <div class="container">
          <!--nav bar-->
          <div class="menuu">
            <div class="bs-example box-menu">
              <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Logo</a>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="col-lg-offset-8 col-lg-4 col-sm-offset-5 col-sm-7 col-md-offset-7 col-md-5 nav navbar-nav navbar-right">
                      <li><a href="#" class="menu-link home"><i class="fa fa-home padd"></i>Home</a></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user icon padd"></i>{{ user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#"><i class="fa fa-user icon padd"></i>Profile</a></li>
                          <li><a href="#"><i class="fa fa-unlock-alt padd"></i>Change Password</a></li>
                        </ul>
                      </li>
                      <li><a href="{% url 'micro_admin:logout' %}"><i class="fa fa-power-off icon padd"></i>logout</a></li>
                    </ul>
                  </div>
                  <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
              </nav>
            </div>
          </div>
          <!--nav bar ends-->
        </div>
        <!--nav bar ends above-->
      </header>
      <!--content goes below-->
      {% block stage %}
      {% endblock %}
      <!--content ends above-->
    </div>
    <!--wrapper ends above-->
    <script src="/static/js/mf_script.js"></script>