{% load ledgertemplatetags %}
<div class="panel-body pb-table">
  <div class="table-responsive">
    <table class="table table-bordered" border="1">
      <thead>
        <tr class="head-row-tb">
          <th rowspan="2">Date</th>
          <th rowspan="2">Client</th>
          <th rowspan="2">Receipt No.</th>
          <th colspan="3">Demand</th>
          <th colspan="3">Collection</th>
          <th colspan="3">Balance</th>
          <th rowspan="2">Loan Outstanding</th>
        </tr>
        <tr>
          <th>Principal</th>
          <th>Interest</th>
          <th>Peenal Interest</th>
          <th>Principal</th>
          <th>Interest</th>
          <th>Peenal Interest</th>
          <th>Principal</th>
          <th>Interest</th>
          <th>Peenal Interest</th>
        </tr>
      </thead>
      <tbody class="body-row-tb">
        {% for receipt in receipts_list %}
        <tr>
          <td>{{ receipt.date }}</td>
          <td>{{ receipt.client.first_name|capfirst }}</td>
          <td>{{ receipt.receipt_number}}</td>
          <td>{{ receipt.demand_loanprinciple_amount_atinstant|floatformat:2 }}</td>
          <td>{{ receipt.demand_loaninterest_amount_atinstant|floatformat:2 }}</td>
          <td>0</td>
          <td>{{ receipt.loanprinciple_amount|floatformat:2 }}</td>
          <td>{{ receipt.loaninterest_amount|floatformat:2 }}</td>
          <td>0</td>
          <td>{{ receipt.demand_loanprinciple_amount_atinstant|demand_collections_difference:receipt.loanprinciple_amount|floatformat:2 }}</td>
          <td>{{ receipt.demand_loaninterest_amount_atinstant|demand_collections_difference:receipt.loaninterest_amount|floatformat:2 }}</td>
          <td>0</td>
          <td>{{ receipt.principle_loan_balance_atinstant|floatformat:2 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>