{% extends 'base.html' %}
{% block breadcrumb %}
<li><a href="{% url 'micro_admin:branchprofile' recurring_deposit.client.branch.id %}">{{ recurring_deposit.client.branch.name|capfirst }} Branch</a></li>
<li><a href="{% url 'micro_admin:clientprofile' recurring_deposit.client.id %}">{{ recurring_deposit.client.first_name|capfirst }} Member</a></li>
<li>Recurring Deposit</li>
{% endblock %}
{% block stage %}
<!--content goes below-->
<div class="home-div-gp">
<div class="panel panel-default wrap-cp-div">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% if recurring_deposit.client.is_active %}
      <i class="fa fa-square green padd"></i>
      {% else %}
      <i class="fa fa-square red padd"></i>{% endif %}
      {{ recurring_deposit.client.first_name|capfirst }} {{ recurring_deposit.client.last_name|capfirst }} Recurring Deposit
    </h3>
  </div>
  <!--form div starts below-->
  <div class="panel-body">
    <form id="fixeddepositprofileform" class="form-horizontal" role="form">
      {% csrf_token %}
      <div class="box-form">
        <div class="form-group grp-view">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 control-label">RD Account No. :</label><span class="col-lg-6 mar-top">{{ recurring_deposit.reccuring_deposit_number}}</span>
        </div>
        <div class="form-group grp-view">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 control-label">Member Name :</label><span class="col-lg-6 mar-top">{{ recurring_deposit.client.first_name|capfirst }}</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 control-label">Deposited Amount:</label><span class="col-lg-6 mar-top">{{ recurring_deposit.recurring_deposit_amount }}</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 control-label">Interest Rate :</label><span class="col-lg-6 mar-top">{{ recurring_deposit.recurring_deposit_interest_rate }} %</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 control-label">Status :</label><span class="col-lg-6 mar-top" style="color:#337ab7;">
          {{ recurring_deposit.status }} </span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-12 control-label"><b>Nominee Details</b></label>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 control-label">Nominee Name :</label><span class="col-lg-6 mar-top">{{ recurring_deposit.nominee_firstname|capfirst }} {{ recurring_deposit.nominee_lastname|capfirst }}</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 control-label">Nominee Gender :</label><span class="col-lg-6 mar-top">{{ recurring_deposit.nominee_gender }}</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 control-label">Nominee DOB :</label><span class="col-lg-6 mar-top">{{ recurring_deposit.nominee_date_of_birth }}</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 control-label">Nominee Occupation :</label><span class="col-lg-6 mar-top">{{ recurring_deposit.nominee_occupation }}</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 control-label">Relationship with Nominee:
          </label><span class="col-lg-5 mar-top">{{ recurring_deposit.relationship_with_nominee }}</span>
        </div>
      </div>
      <!--div 1 of fomr ends above-->
      <!--div 2 of form starts below-->
      <div class="box-form">
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-5 control-label">Deposited On :</label>
          <span class="col-lg-6 mar-top">{{ recurring_deposit.deposited_date }}</span>
        </div>
        <div class="form-group grp-view">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 control-label">Member A/C. No. :</label><span class="col-lg-6 mar-top">{{ recurring_deposit.client.account_number }}</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 control-label">Deposit Period:</label>
          <span class="col-lg-5 mar-top">{{ recurring_deposit.recurring_deposit_period }} (in months)</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 control-label">Total Maturity Amount:</label>
          <span class="col-lg-5 mar-top" style="color:#FF00CC;">{{ recurring_deposit.maturity_amount }}</span>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-6 col-sm-6 control-label">&nbsp;</label>
          <span class="col-lg-5 mar-top" style="color:#FF00CC;">&nbsp;</span>
        </div>
        <div class="clr-div" style ="width:100%; border:none;">
          <div class="img-div">
            <img src="/{{ recurring_deposit.nominee_photo }}" alt="Nominee Photo" /><br /><br />
            <img src="/{{ recurring_deposit.nominee_signature}}"  class="sig-div" style="" alt="Nominee signature" />
            <br clear="all" />
          </div>
        </div>
      </div>
      <br clear="all" />
    </form>
  </div>
  <!--panel body ends below crct-->
</div>
{% endblock %}