{% extends 'base.html' %}
{% block stage %}
<!--content goes below-->
<div class="container-trans-table">
  <!--form div starts below-->
  <div class="panel panel-default my-panel-bprofile margin-top-set trans-table">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{ client.first_name|capfirst }} Ledger
        <span class="doNotPrint"><a href="{% url 'micro_admin:clientledgercsvdownload' client.id %}">
        <button class="view-tab-btn">CSV Download</button></a></span>
        <span><a href="{% url 'micro_admin:clientledgerexceldownload' client.id %}"><button class="view-tab-btn">Excel Download
        </button></a></span>
        <span><a href="{% url 'micro_admin:clientledgerpdfdownload' client.id %}" target="_blank"><button class="view-tab-btn">PDF Download</button></a></span>
        <span><a target="_blank"><button class="view-tab-btn" onclick="window.print()">Print</button></a></span>
      </h3>
    </div>
    {% include "clientledgertable.html" %}
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
<script src="/static/js/mf_script.js"></script>
{% endblock %}