{% extends 'base.html' %}
{% block stage %}
<!--content goes below-->
<div class="container" style ="width:100%">
  <!--form div starts below-->
  <div class="panel panel-default my-panel-bprofile margin-top-set">
    <div class="panel-heading">
      <h3 class="panel-title">
        Day Book
      </h3>
    </div>
    <div class="panel-body pb-table">
      <div class="table-responsive wid-45per">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="6">Receipts</th>
            </tr>
            <tr>
              <th>Date</th>
              <th>Account No.</th>
              <th>Receipt No.</th>
              <th>Details</th>
              <th>Cash</th>
              <th>Bank</th>
            </tr>
          </thead>
          <tbody class="body-row-tb">
            <tr style="text-align:center">
              <td colspan="6"><b>Savings</b></td>
            </tr>
            {% for thrift_deposit_sum in thrift_deposit_sum_list %}
            <tr>
              <td>{{ current_date }}</td>
              <td>{{ thrift_deposit_sum.account_number }}</td>
              <td>{{ thrift_deposit_sum.receipt_number}}</td>
              <td>{{ thrift_deposit_sum.group_name }}</td>
              <td>{{ thrift_deposit_sum.thrift_deposit_sum }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" style="text-align:right"><b>Total Savings</b></td>
              <td >{{ dict.total_thrift_deposit_sum }}</td>
              <td>-</td>
            </tr>
            <tr style="text-align:center">
              <td colspan="6"><b>Loan Recoveries</b></td>
            </tr>
            {% for loanprinciple_amount in loanprinciple_amount_sum_list %}
            <tr>
              <td>{{ current_date }}</td>
              <td>{{ loanprinciple_amount.account_number }}</td>
              <td>-</td>
              <td>{{ loanprinciple_amount.group_name }}</td>
              <td>{{ loanprinciple_amount.loanprinciple_amount_sum }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" style="text-align:right"><b>Total Loan Recoveries</b></td>
              <td >{{ dict.total_loanprinciple_amount_sum }}</td>
              <td>-</td>
            </tr>
            <tr style="text-align:center">
              <td colspan="6"><b> Interest on Loans</b></td>
            </tr>
            {% for loaninterest_amount in loaninterest_amount_sum_list %}
            <tr>
              <td>{{ current_date }}</td>
              <td>{{ loaninterest_amount.account_number }}</td>
              <td>-</td>
              <td>{{ loaninterest_amount.group_name }}</td>
              <td>{{ loaninterest_amount.loaninterest_amount_sum }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" style="text-align:right"><b>Total Interest on Loans</b></td>
              <td>{{ dict.total_loaninterest_amount_sum }}</td>
              <td>-</td>
            </tr>
            <tr style="text-align:center">
              <td colspan="6"><b>Entrance Fees</b></td>
            </tr>
            {% for entrancefee_amount in entrancefee_amount_sum_list %}
            <tr>
              <td>{{ current_date }}</td>
              <td>{{ entrancefee_amount.account_number }}</td>
              <td>-</td>
              <td>{{ entrancefee_amount.group_name }}</td>
              <td>{{ entrancefee_amount.entrancefee_amount_sum }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" style="text-align:right"><b>Total Entrance Fees</b></td>
              <td >{{ dict.total_entrancefee_amount_sum }}</td>
              <td>-</td>
            </tr>
            <tr style="text-align:center">
              <td colspan="6"><b>Membership Fees</b></td>
            </tr>
            {% for membershipfee_amount in membershipfee_amount_sum_list %}
            <tr>
              <td>{{ current_date }}</td>
              <td>{{ membershipfee_amount.account_number }}</td>
              <td>-</td>
              <td>{{ membershipfee_amount.group_name }}</td>
              <td>{{ membershipfee_amount.membershipfee_amount_sum }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" style="text-align:right"><b>Total Membership Fees</b></td>
              <td>{{ dict.total_membershipfee_amount_sum }}</td>
              <td>-</td>
            </tr>
            <tr style="text-align:center">
              <td colspan="6"><b>Book Fees</b></td>
            </tr>
            {% for bookfee_amount in bookfee_amount_sum_list %}
            <tr>
              <td>{{ current_date }}</td>
              <td>{{ bookfee_amount.account_number }}</td>
              <td>-</td>
              <td>{{ bookfee_amount.group_name }}</td>
              <td>{{ bookfee_amount.bookfee_amount_sum }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" style="text-align:right"><b>Total Book Fees</b></td>
              <td>{{ dict.total_bookfee_amount_sum }}</td>
              <td>-</td>
            </tr>
            <tr style="text-align:center">
              <td colspan="6"><b>Loan Processing Fees</b></td>
            </tr>
            {% for loanprocessingfee_amount in loanprocessingfee_amount_sum_list %}
            <tr>
              <td>{{ current_date }}</td>
              <td>{{ loanprocessingfee_amount.account_number }}</td>
              <td>-</td>
              <td>{{ loanprocessingfee_amount.group_name }}</td>
              <td>{{ loanprocessingfee_amount.loanprocessingfee_amount_sum }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" style="text-align:right"><b>Total Loan Processing Fees</b></td>
              <td>{{ dict.total_loanprocessingfee_amount_sum }}</td>
              <td>-</td>
            </tr>
            <tr style="text-align:center">
              <td colspan="6"><b>Insurance Amounts</b></td>
            </tr>
            {% for insurance_amount in insurance_amount_sum_list %}
            <tr>
              <td>{{ current_date }}</td>
              <td>{{ insurance_amount.account_number }}</td>
              <td>-</td>
              <td>{{ insurance_amount.group_name }}</td>
              <td>{{ insurance_amount.insurance_amount_sum }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" style="text-align:right"><b>Total Insurance Amount</b></td>
              <td>{{ dict.total_insurance_amount_sum }}</td>
              <td>-</td>
            </tr>
            <tr>
              <td colspan="4" style="text-align:center"><b>Total </b></td>
              <td>{{ total }}</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive wid-45per">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="6">Payments</th>
            </tr>
            <tr>
              <th>Date</th>
              <th>Account Number</th>
              <th>Vocher Number</th>
              <th>Details</th>
              <th>Cash</th>
              <th>Bank</th>
            </tr>
          </thead>
          <tbody class="body-row-tb">
            <tr style="text-align:center">
              <td colspan="6"><b>Loans</b></td>
            </tr>
            {% for loans in loans_list %}
            <tr>
              <td>{{ loans.date }}</td>
              <td>{{ loans.group.account_number }}</td>
              <td>{{ loans.voucher_number }}</td>
              <td>{{ loans.group.name }}</td>
              <td>{{ loans.total_amount }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" style="text-align:right"><b>Total Loans Issued</b></td>
              <td>{{ dict_payments.loans_sum }}</td>
              <td>-</td>
            </tr>
            <tr style="text-align:center">
              <td colspan="6"><b>Savings Withdrawals</b></td>
            </tr>
            {% for savingswithdrawal in savingswithdrawal_list %}
            <tr>
              <td>{{ savingswithdrawal.date }}</td>
              <td>{{ savingswithdrawal.client.account_number}}</td>
              <td>{{ savingswithdrawal.voucher_number }}</td>
              <td>{{ savingswithdrawal.client.first_name }}</td>
              <td>{{ savingswithdrawal.total_amount }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" style="text-align:right"><b>Total Savings withdrawals</b></td>
              <td>{{ dict_payments.savingswithdrawal_sum }}</td>
              <td>-</td>
            </tr>
            <tr style="text-align:center">
              <td colspan="6"><b>Fixed Deposit Withdrawals</b></td>
            </tr>
            {% for fixedwithdrawal in fixedwithdrawal_list %}
            <tr>
              <td>{{ fixedwithdrawal.date }}</td>
              <td>{{ fixedwithdrawal.client.account_number }}</td>
              <td>{{ fixedwithdrawal.voucher_number }}</td>
              <td>{{ fixedwithdrawal.client.first_name }}</td>
              <td>{{ fixedwithdrawal.total_amount }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" style="text-align:right"><b>Total Fixed Deposit Withdrawals</b></td>
              <td>{{ dict_payments.fixedwithdrawal_sum }}</td>
              <td>-</td>
            </tr>
            <tr style="text-align:center">
              <td colspan="6"><b>Recurring Deposit Withdrawals</b></td>
            </tr>
            {% for recurringwithdrawal in recurringwithdrawal_list %}
            <tr>
              <td>{{ recurringwithdrawal.date }}</td>
              <td>{{ recurringwithdrawal.client.account_number }}</td>
              <td>{{ recurringwithdrawal.voucher_number }}</td>
              <td>{{ recurringwithdrawal.client.first_name }}</td>
              <td>{{ recurringwithdrawal.total_amount }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" style="text-align:right"><b>Total Reccurring Deposit Withdrawals</b></td>
              <td>{{ dict_payments.recurringwithdrawal_sum }}</td>
              <td>-</td>
            </tr>
            <tr style="text-align:center">
              <td colspan="6"><b>salaries</b></td>
            </tr>
            {% for paymentofsalary in paymentofsalary_list %}
            <tr>
              <td>{{ paymentofsalary.date }}</td>
              <td>Staff Role-
                {% if paymentofsalary.staff.is_admin %}
                Admin
                {% else %}
                {{ paymentofsalary.staff.user_roles }}
              </td>
              {% endif %}
              <td>{{ paymentofsalary.voucher_number }}</td>
              <td>{{ paymentofsalary.staff.username }}</td>
              <td>{{ paymentofsalary.total_amount }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" style="text-align:right"><b>Total Salaries </b></td>
              <td>{{ dict_payments.paymentofsalary_sum }}</td>
              <td>-</td>
            </tr>
            <tr style="text-align:center">
              <td colspan="6"><b>Travelling Allowance</b></td>
            </tr>
            {% for travelling_allowance in travellingallowance_list %}
            <tr>
              <td>{{ travelling_allowance.date }}</td>
              <td>Staff Role-
                {% if travelling_allowance.staff.is_admin %}
                Admin
                {% else %}
                {{ travelling_allowance.staff.user_roles }}
              </td>
              {% endif %}
              <td>{{ travelling_allowance.voucher_number }}</td>
              <td>{{ travelling_allowance.staff.username }}</td>
              <td>{{ travelling_allowance.total_amount }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" style="text-align:right"><b>Total Travelling Allowances</b></td>
              <td>{{ dict_payments.travellingallowance_sum }}</td>
              <td>-</td>
            </tr>
            <tr style="text-align:center">
              <td colspan="6"><b>Printing Charges</b></td>
            </tr>
            {% for printingcharges in printingcharges_list %}
            <tr>
              <td>{{ printingcharges.date }}</td>
              <td>{{ printingcharges.client.account_number }}</td>
              <td>{{ printingcharges.voucher_number }}</td>
              <td>{{ printingcharges.client.first_name }}</td>
              <td>{{ printingcharges.total_amount }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" style="text-align:right"><b>Total Printing Charges</b></td>
              <td>{{ dict_payments.printingcharges_sum }}</td>
              <td>-</td>
            </tr>
            <tr style="text-align:center">
              <td colspan="6"><b>Stationary Charges</b></td>
            </tr>
            {% for stationarycharges in stationarycharges_list %}
            <tr>
              <td>{{ stationarycharges.date }}</td>
              <td>{{ stationarycharges.client.account_number }}</td>
              <td>{{ stationarycharges.voucher_number }}</td>
              <td>{{ stationarycharges.client.first_name }}</td>
              <td>{{ stationarycharges.total_amount }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" style="text-align:right"><b>Total Stationary Charges</b></td>
              <td>{{ dict_payments.stationarycharges_sum }}</td>
              <td>-</td>
            </tr>
            <tr style="text-align:center">
              <td colspan="6"><b>Other Charges</b></td>
            </tr>
            {% for othercharges in othercharges_list %}
            <tr>
              <td>{{ othercharges.date }}</td>
              <td>{{ othercharges.client.account_number }}</td>
              <td>{{ othercharges.voucher_number }}</td>
              <td>{{ othercharges.client.first_name }}</td>
              <td>{{ othercharges.total_amount }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" style="text-align:right"><b>Total Other Charges</b></td>
              <td>{{ dict_payments.othercharges_sum }}</td>
              <td>-</td>
            </tr>
            <tr>
              <td colspan="4" style="text-align:center"><b>Total </b></td>
              <td>{{ total_payments }}</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
<script src="/static/js/mf_script.js"></script>
{% endblock %}