<div class="hg-table panel-body pb-table">
  <div class="table-responsive col-md-6">
    <table class="table table-bordered" border="1">
      <thead>
        <tr>
          <th colspan="6">Receipts</th>
        </tr>
        <tr>
          <th>Date</th>
          <th>Account No.</th>
          <th>Receipt No.</th>
          <th>Details</th>
          <th>Cash</th>
          <th>Bank</th>
        </tr>
      </thead>
      <tbody class="body-row-tb">
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Savings</b></td>
        </tr>
        {% for thrift_deposit_sum in thrift_deposit_sum_list %}
        {% if thrift_deposit_sum.thrift_deposit_sum %}
        <tr>
          <td>{{ selected_date }}</td>
          <td>{{ thrift_deposit_sum.account_number }}</td>
          {% if thrift_deposit_sum.has_list %}
            <td>
              {% for receipt in thrift_deposit_sum.receipt_number %}
                {{receipt}}
                {%if not forloop.last%},{%endif%}
              {% endfor %}
            </td>
          {% else %}
          <td>{{ thrift_deposit_sum.receipt_number }}</td>
          {% endif %}
          <td>{{ thrift_deposit_sum.group_name }}</td>
          <td>{{ thrift_deposit_sum.thrift_deposit_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Savings</b></td>
          <td>{{ dict.total_thrift_deposit_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Fixed Deposits</b></td>
        </tr>
        {% for fixed_deposit_sum in fixed_deposit_sum_list %}
        {% if fixed_deposit_sum.fixed_deposit_sum %}
        <tr>
          <td>{{ selected_date }}</td>
          <td>{{ fixed_deposit_sum.account_number }}</td>
          {% if fixed_deposit_sum.has_list %}
            <td>
              {% for receipt in fixed_deposit_sum.receipt_number %}
                {{receipt}}
                {%if not forloop.last%},{%endif%}
              {% endfor %}
            </td>
          {% else %}
          <td>{{ fixed_deposit_sum.receipt_number }}</td>
          {% endif %}
          <td>{{ fixed_deposit_sum.group_name }}</td>
          <td>{{ fixed_deposit_sum.fixed_deposit_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Savings</b></td>
          <td>{{ dict.total_fixed_deposit_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Recurring Deposits</b></td>
        </tr>
        {% for recurring_deposit_sum in recurring_deposit_sum_list %}
        {% if recurring_deposit_sum.recurring_deposit_sum %}
        <tr>
          <td>{{ selected_date }}</td>
          <td>{{ recurring_deposit_sum.account_number }}</td>
          {% if recurring_deposit_sum.has_list %}
            <td>
            {% for receipt in recurring_deposit_sum.receipt_number %}
              {{ receipt }}
              {%if not forloop.last%},{%endif%}
            {% endfor %}
            </td>
          {% else %}
          <td>{{ recurring_deposit_sum.receipt_number }}</td>
          {% endif %}
          <td>{{ recurring_deposit_sum.group_name }}</td>
          <td>{{ recurring_deposit_sum.recurring_deposit_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Savings</b></td>
          <td>{{ dict.total_recurring_deposit_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Share Capital</b></td>
        </tr>
        {% for share_capital_amount in share_capital_amount_sum_list %}
        {% if share_capital_amount.share_capital_amount_sum %}
        <tr>
          <td>{{ selected_date }}</td>
          <td>{{ share_capital_amount.account_number }}</td>
          {% if share_capital_amount.has_list %}
            <td>
            {% for receipt in share_capital_amount.receipt_number %}
              {{ receipt }}
              {%if not forloop.last%},{%endif%}
            {% endfor %}
            </td>
          {% else %}
          <td>{{ share_capital_amount.receipt_number }}</td>
          {% endif %}
          <td>{{ share_capital_amount.group_name }}</td>
          <td>{{ share_capital_amount.share_capital_amount_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Savings</b></td>
          <td>{{ dict.total_share_capital_amount_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Loan Recoveries</b></td>
        </tr>
        {% for loanprinciple_amount in loanprinciple_amount_sum_list %}
        {% if loanprinciple_amount.loanprinciple_amount_sum %}
        <tr>
          <td>{{ selected_date }}</td>
          <td>{{ loanprinciple_amount.account_number }}</td>
          {% if loanprinciple_amount.has_list %}
            <td>
              {% for receipt in loanprinciple_amount.receipt_number %}
                {{receipt}}
                {%if not forloop.last%},{%endif%}
              {% endfor %}
            </td>
          {% else %}
          <td>{{ loanprinciple_amount.receipt_number }}</td>
          {% endif %}
          <td>{{ loanprinciple_amount.group_name }}</td>
          <td>{{ loanprinciple_amount.loanprinciple_amount_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Loan Recoveries</b></td>
          <td >{{ dict.total_loanprinciple_amount_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b> Interest on Loans</b></td>
        </tr>
        {% for loaninterest_amount in loaninterest_amount_sum_list %}
        {% if loaninterest_amount.loaninterest_amount_sum %}
        <tr>
          <td>{{ selected_date }}</td>
          <td>{{ loaninterest_amount.account_number }}</td>
          {% if loaninterest_amount.has_list %}
            <td>
              {% for receipt in loaninterest_amount.receipt_number %}
                {{ receipt }}
                {%if not forloop.last%},{%endif%}
              {% endfor %}
            </td>
          {% else %}
          <td>{{ loaninterest_amount.receipt_number }}</td>
          {% endif %}
          <td>{{ loaninterest_amount.group_name }}</td>
          <td>{{ loaninterest_amount.loaninterest_amount_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Interest on Loans</b></td>
          <td>{{ dict.total_loaninterest_amount_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Entrance Fees</b></td>
        </tr>
        {% for entrancefee_amount in entrancefee_amount_sum_list %}
        {% if entrancefee_amount.entrancefee_amount_sum %}
        <tr>
          <td>{{ selected_date }}</td>
          <td>{{ entrancefee_amount.account_number }}</td>
          {% if entrancefee_amount.has_list %}
            <td>
              {% for receipt in entrancefee_amount.receipt_number %}
                {{ receipt }}
                {%if not forloop.last%},{%endif%}
              {% endfor %}
            </td>
          {% else %}
          <td>{{ entrancefee_amount.receipt_number }}</td>
          {% endif %}
          <td>{{ entrancefee_amount.group_name }}</td>
          <td>{{ entrancefee_amount.entrancefee_amount_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Entrance Fees</b></td>
          <td >{{ dict.total_entrancefee_amount_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Membership Fees</b></td>
        </tr>
        {% for membershipfee_amount in membershipfee_amount_sum_list %}
        {% if membershipfee_amount.membershipfee_amount_sum  %}
        <tr>
          <td>{{ selected_date }}</td>
          <td>{{ membershipfee_amount.account_number }}</td>
          {% if membershipfee_amount.has_list %}
            <td>
            {% for receipt in membershipfee_amount.receipt_number %}
              {{ receipt }}
              {%if not forloop.last%},{%endif%}
            {% endfor %}
            </td>
          {% else %}
          <td>{{ membershipfee_amount.receipt_number }}</td>
          {% endif %}
          <td>{{ membershipfee_amount.group_name }}</td>
          <td>{{ membershipfee_amount.membershipfee_amount_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Membership Fees</b></td>
          <td>{{ dict.total_membershipfee_amount_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Book Fees</b></td>
        </tr>
        {% for bookfee_amount in bookfee_amount_sum_list %}
        {% if bookfee_amount.bookfee_amount_sum  %}
        <tr>
          <td>{{ selected_date }}</td>
          <td>{{ bookfee_amount.account_number }}</td>
          {% if bookfee_amount.has_list %}
            <td>
            {% for receipt in bookfee_amount.receipt_number %}
              {{ receipt }}
              {%if not forloop.last%},{%endif%}
            {% endfor %}
            </td>
          {% else %}
          <td>{{ bookfee_amount.receipt_number }}</td>
          {% endif %}
          <td>{{ bookfee_amount.group_name }}</td>
          <td>{{ bookfee_amount.bookfee_amount_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Book Fees</b></td>
          <td>{{ dict.total_bookfee_amount_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Loan Processing Fees</b></td>
        </tr>
        {% for loanprocessingfee_amount in loanprocessingfee_amount_sum_list %}
        {% if loanprocessingfee_amount.loanprocessingfee_amount_sum %}
        <tr>
          <td>{{ selected_date }}</td>
          <td>{{ loanprocessingfee_amount.account_number }}</td>
          {% if loanprocessingfee_amount.has_list %}
            <td>
            {% for receipt in loanprocessingfee_amount.receipt_number %}
              {{ receipt }}
              {%if not forloop.last%},{%endif%}
            {% endfor %}
            </td>
          {% else %}
          <td>{{ loanprocessingfee_amount.receipt_number }}</td>
          {% endif %}
          <td>{{ loanprocessingfee_amount.group_name }}</td>
          <td>{{ loanprocessingfee_amount.loanprocessingfee_amount_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Loan Processing Fees</b></td>
          <td>{{ dict.total_loanprocessingfee_amount_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Insurance Amounts</b></td>
        </tr>
        {% for insurance_amount in insurance_amount_sum_list %}
        {% if insurance_amount.insurance_amount_sum %}
        <tr>
          <td>{{ selected_date }}</td>
          <td>{{ insurance_amount.account_number }}</td>
          {% if insurance_amount.has_list %}
            <td>
            {% for receipt in insurance_amount.receipt_number %}
              {{ receipt }}
              {%if not forloop.last%},{%endif%}
            {% endfor %}
            </td>
          {% else %}
          <td>{{ insurance_amount.receipt_number }}</td>
          {% endif %}
          <td>{{ insurance_amount.group_name }}</td>
          <td>{{ insurance_amount.insurance_amount_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Insurance Amount</b></td>
          <td>{{ dict.total_insurance_amount_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr>
          <td colspan="4" style="text-align:center"><b>Total </b></td>
          <td><b>{{ total|floatformat:2 }}</b></td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive col-md-6">
    <table class="table table-bordered" border="1">
      <thead>
        <tr>
          <th colspan="6">Payments</th>
        </tr>
        <tr>
          <th>Date</th>
          <th>Account Number</th>
          <th>Vocher Number</th>
          <th>Details</th>
          <th>Cash</th>
          <th>Bank</th>
        </tr>
      </thead>
      <tbody class="body-row-tb">
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Loans</b></td>
        </tr>
        {% for loans in loans_list %}
        <tr>
          <td>{{ loans.date }}</td>
          <td>{{ loans.group.account_number }}</td>
          <td>{{ loans.voucher_number }}</td>
          <td>{{ loans.group.name }}</td>
          <td>{{ loans.total_amount|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Loans Issued</b></td>
          <td>{{ dict_payments.loans_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Savings Withdrawals</b></td>
        </tr>
        {% for savingswithdrawal in savingswithdrawal_list %}
        <tr>
          <td>{{ savingswithdrawal.date }}</td>
          <td>{{ savingswithdrawal.client.account_number}}</td>
          <td>{{ savingswithdrawal.voucher_number }}</td>
          <td>{{ savingswithdrawal.client.first_name }}</td>
          <td>{{ savingswithdrawal.total_amount|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Savings withdrawals</b></td>
          <td>{{ dict_payments.savingswithdrawal_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Fixed Deposit Withdrawals</b></td>
        </tr>
        {% for fixedwithdrawal in fixedwithdrawal_list %}
        <tr>
          <td>{{ fixedwithdrawal.date }}</td>
          <td>{{ fixedwithdrawal.client.account_number }}</td>
          <td>{{ fixedwithdrawal.voucher_number }}</td>
          <td>{{ fixedwithdrawal.client.first_name }}</td>
          <td>{{ fixedwithdrawal.total_amount|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Fixed Deposit Withdrawals</b></td>
          <td>{{ dict_payments.fixedwithdrawal_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Recurring Deposit Withdrawals</b></td>
        </tr>
        {% for recurringwithdrawal in recurringwithdrawal_list %}
        <tr>
          <td>{{ recurringwithdrawal.date }}</td>
          <td>{{ recurringwithdrawal.client.account_number }}</td>
          <td>{{ recurringwithdrawal.voucher_number }}</td>
          <td>{{ recurringwithdrawal.client.first_name }}</td>
          <td>{{ recurringwithdrawal.total_amount|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Reccurring Deposit Withdrawals</b></td>
          <td>{{ dict_payments.recurringwithdrawal_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Salaries</b></td>
        </tr>
        {% for paymentofsalary in paymentofsalary_list %}
        <tr>
          <td>{{ paymentofsalary.date }}</td>
          <td>Staff Role :
            {% if paymentofsalary.staff.is_admin %}
            Admin
            {% else %}
            {{ paymentofsalary.staff.user_roles }}
          </td>
          {% endif %}
          <td>{{ paymentofsalary.voucher_number }}</td>
          <td>{{ paymentofsalary.staff.username }}</td>
          <td>{{ paymentofsalary.total_amount|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Salaries </b></td>
          <td>{{ dict_payments.paymentofsalary_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Travelling Allowance</b></td>
        </tr>
        {% for travelling_allowance in travellingallowance_list %}
        <tr>
          <td>{{ travelling_allowance.date }}</td>
          <td>Staff Role :
            {% if travelling_allowance.staff.is_admin %}
            Admin
            {% else %}
            {{ travelling_allowance.staff.user_roles }}
          </td>
          {% endif %}
          <td>{{ travelling_allowance.voucher_number }}</td>
          <td>{{ travelling_allowance.staff.username }}</td>
          <td>{{ travelling_allowance.total_amount|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Travelling Allowances</b></td>
          <td>{{ dict_payments.travellingallowance_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Printing Charges</b></td>
        </tr>
        {% for printingcharges in printingcharges_list %}
        <tr>
          <td>{{ printingcharges.date }}</td>
          <td>{{ printingcharges.client.account_number }}</td>
          <td>{{ printingcharges.voucher_number }}</td>
          <td>{{ printingcharges.client.first_name }}</td>
          <td>{{ printingcharges.total_amount|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Printing Charges</b></td>
          <td>{{ dict_payments.printingcharges_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Stationary Charges</b></td>
        </tr>
        {% for stationarycharges in stationarycharges_list %}
        <tr>
          <td>{{ stationarycharges.date }}</td>
          <td>{{ stationarycharges.client.account_number }}</td>
          <td>{{ stationarycharges.voucher_number }}</td>
          <td>{{ stationarycharges.client.first_name }}</td>
          <td>{{ stationarycharges.total_amount|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Stationary Charges</b></td>
          <td>{{ dict_payments.stationarycharges_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr style="text-align:center">
          <td colspan="6" class="color-inner-hedng box-center"><b>Other Charges</b></td>
        </tr>
        {% for othercharges in othercharges_list %}
        <tr>
          <td>{{ othercharges.date }}</td>
          <td>{{ othercharges.client.account_number }}</td>
          <td>{{ othercharges.voucher_number }}</td>
          <td>{{ othercharges.client.first_name }}</td>
          <td>{{ othercharges.total_amount|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align:right" class="color-inner-hedng box-center"><b>Total Other Charges</b></td>
          <td>{{ dict_payments.othercharges_sum|floatformat:2 }}</td>
          <td>-</td>
        </tr>
        <tr>
          <td colspan="4" style="text-align:center"><b>Total </b></td>
          <td><b>{{ total_payments|floatformat:2 }}</b></td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>