{% extends 'base.html' %}
{% block stage %}
<!--content goes below-->
<div class="container">
  <!--form div starts below-->
  <div class="panel panel-default my-panel">
    <div class="panel-heading">Edit Branch</div>
    <div class="panel-body pb-pad">
      <form  id="createbranchform" class="form-horizontal" role="form" action="{% url 'micro_admin:editbranch' branch.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Branch Name</label>
          <div class="col-sm-8">
            <input type="text" class="text-box wid-form" name="name" value="{{ branch.name }}" id="inputEmail3" readonly>
            <div id="branchnameerror"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Opening Date</label>
          <div class="col-sm-8">
            <input type="text" class="text-box wid-form" name="opening_date" value="{{ branch.opening_date }}" id="inputEmail3" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Country</label>
          <div class="col-sm-8">
            <input type="text" class="text-box wid-form" name="country" value="{{ branch.country }}" id="inputEmail3" required="True">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">State</label>
          <div class="col-sm-8">
            <input type="text" class="text-box wid-form" name="state" value="{{ branch.state }}" id="inputEmail3" required="True">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">District</label>
          <div class="col-sm-8">
            <input type="text" class="text-box wid-form" name="district" value="{{ branch.district }}" id="inputEmail3" required="True">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">City</label>
          <div class="col-sm-8">
            <input type="text" class="text-box wid-form" name="city" value="{{ branch.city }}" id="inputEmail3" required="True">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Area</label>
          <div class="col-sm-8">
            <input type="text" class="text-box wid-form" name="area" value="{{ branch.area }}" id="inputEmail3" required="True">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Phone Number</label>
          <div class="col-sm-8">
            <input type="text" class="text-box wid-form" name="phone_number" value="{{ branch.phone_number }}" id="inputEmail3" required="True">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Pin Code</label>
          <div class="col-sm-8">
            <input type="text" class="text-box wid-form" name="pincode" value="{{ branch.pincode }}" id="inputEmail3" required="True">
          </div>
        </div>
        <div class="form-group btns">
          <button class="submit-btn" type="submit"><i class="fa fa-check padd"></i>Submit</button>
          <button class="cancel-btn" type="reset"><i class="fa fa-times padd"></i>Cancel</button>
        </div>
      </form>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
</div>
<!--wrapper ends above-->
<script src="/static/js/mf_script.js"></script>
{% endblock %}