{% extends 'base.html' %}
{% block breadcrumb %}
<li><a href="{% url 'micro_admin:branchprofile' client.branch.id %}">{{ client.branch.name|capfirst }} Branch</a></li>
<li><a href="{% url 'micro_admin:clientprofile' client.id %}">{{ client.first_name|capfirst }} Member</a></li>
<li>Edit</li>
{% endblock %}
{% block stage %}
<!--content goes below-->
<div class="container">
  <!--form div starts below-->
  <div class="panel panel-default my-panel-2 margin-top-set">
    <div class="panel-heading">Edit Member</div>
    <div class="panel-body pb-pad">
      <form id="editclientform" class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        <!--div 1 0f form-->
        <div class="box-form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">First Name</label>
            <div class="col-sm-8">
              <input type="hidden"  id="client_id" value="{{client.id}}" style="dispaly:none;">
              <input type="text" class="text-box wid-form" id="inputEmail3" name="first_name" value="{{ client.first_name }}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Last Name</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="inputEmail3" name="last_name" value="{{ client.last_name }}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Gender</label>
            <div class="col-sm-8 mar-top-rad">
              <select class="text-box wid-form select-box-pad" name="gender" readonly>
                <option value="{{ client.gender }}" selected="selected">{{ client.gender }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Branch</label>
            <div class="col-sm-8">
              <select class="text-box wid-form select-box-pad" name="branch" readonly>
                <option value="{{ client.branch.id }}" selected="selected">{{ client.branch.name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Client Roles<span>*</span></label>
            <div class="col-sm-8">
              <select class="text-box wid-form select-box-pad" name="client_role">
                <option>Select Client Role</option>
                {% for l in l %}
                {% ifequal l client.client_role %}
                <option value="{{ l }}" selected="selected">{{ l }}</option>
                {% else %}
                <option value="{{ l }}">{{ l }}</option>
                {% endifequal %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Joined Date</label>
            <div class="col-sm-8">
            <input type="hidden" class="text-box wid-form" name="date_of_birth" value="{{ client.date_of_birth|date:"Y-m-d" }}" readonly>
              <input type="text" class="text-box wid-form" name="joined_date" value="{{ client.joined_date|date:"Y-m-d" }}" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Annual Income<span>*</span></label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" name="annual_income" required="True" value="{{ client.annual_income }}" id="inputEmail3">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Account Number</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="inputEmail3" name="account_number" value="{{ client.account_number }}" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Occupation<span>*</span></label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" name="occupation" required="True" value="{{ client.occupation }}" id="inputEmail3">
            </div>
          </div>
        </div>
        <!--div 1 of fomr ends above-->
        <!--div 2 of form starts below-->
        <div class="box-form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Blood Group</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" name="blood_group" value="{{ client.blood_group }}" id="inputEmail3">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
            <div class="col-sm-8">
              <input type="email" class="text-box wid-form" name="email" {% if client.email %} value="{{ client.email }}" {% endif %} id="inputEmail3">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Mobile</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" name="mobile" value="{{ client.mobile }}" id="inputEmail3">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Country<span>*</span></label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="inputEmail3" name="country" value="{{ client.country }}" required="True">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">State<span>*</span></label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="inputEmail3" name="state" value="{{ client.state }}" required="True">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">District<span>*</span></label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="inputEmail3" name="district" value="{{ client.district }}" required="True">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">City<span>*</span></label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="inputEmail3" name="city" value="{{ client.city }}" required="True">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Area<span>*</span></label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="inputEmail3" name="area" value="{{ client.area }}" required="True">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Pin-Code</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" name="pincode" value="{{ client.pincode }}" id="inputEmail3">
            </div>
          </div>
        </div>
        <br clear="all" />
        <!--branch 2 ends above-->
        <!--btn row-->
        <div class="btns-row">
          <div class="form-group btns align-btns">
            <button class="submit-btn"><i class="fa fa-check padd"></i>Submit</button>
            <button class="cancel-btn" type="reset"><i class="fa fa-times padd"></i>Cancel</button>
          </div>
        </div>
        <!--btn row ends above-->
      </form>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
</div>
<!--wrapper ends above-->
<script src="/static/js/mf_script.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#editclientform').submit(function(e) {
      e.preventDefault();
      $.post('/editclient/'+$('#client_id').val()+'/', $('#editclientform').serialize(), function(data) {
        if (data.error == false) {
          window.location = '/clientprofile/'+data.client_id+'/';
        }
      }, "json");
    });
    $('.cancel-btn').click(function(e){
      $("span.error").remove();
    });
  });
</script>
{% endblock %}