<div class="hg-table panel-body pb-table">
  <div class="table-responsive">
    <table class="table table-bordered" border="1">
      <thead>
        <tr class="head-row-tb">
          <th class="wid-10">S.No.</th>
          <th class="wid-90">Date</th>
          <th class="wid-10">Share Capital</th>
          <th class="wid-10">Entrance Fee</th>
          <th class="wid-10">Membership Fee</th>
          <th class="wid-10">Book Fee</th>
          <th class="wid-74">Loan Processing Fee</th>
          <th class="wid-90">Thrift Deposits</th>
          <th class="wid-90">Fixed Deposits</th>
          <th class="wid-90">Recurring Deposits</th>
          <th class="wid-90">Loan Principal Amount</th>
          <th class="wid-90">Loan Interest Amount</th>
          <th class="wid-90">Insurance Amount</th>
          <th class="wid-90">Total Collection</th>
        </tr>
      </thead>
      <tbody class="body-row-tb">
        {% for row in list %}
        <tr>
          <td><b>{{ forloop.counter }}</b></td>
          {% if not pagesize %}
          <td><a href="{% url 'micro_admin:viewdaybook' %}?date={{row.date|date:'Y-m-d'}}" style="color:#337ab7;">{{ row.date }}</a></td>
          {% else %}
            <td>{{ row.date }}</td>
          {% endif %}
          <td>{% if row.sum_sharecapital_amount %}{{ row.sum_sharecapital_amount|floatformat:2}}{% else %}-{% endif %}</td>
          <td>{% if row.sum_entrancefee_amount %}{{ row.sum_entrancefee_amount|floatformat:2}}{% else %}-{% endif %}</td>
          <td>{% if row.sum_membershipfee_amount %}{{ row.sum_membershipfee_amount|floatformat:2 }}{% else %}-{% endif %}</td>
          <td>{% if row.sum_bookfee_amount %}{{ row.sum_bookfee_amount|floatformat:2 }}{% else %}-{% endif %}</td>
          <td>{% if row.sum_loanprocessingfee_amount %}{{ row.sum_loanprocessingfee_amount|floatformat:2 }}
          {% else %}-{% endif %}</td>
          <td>{% if row.sum_savingsdeposit_thrift_amount %}{{ row.sum_savingsdeposit_thrift_amount|floatformat:2 }}
          {% else %}-{% endif %}</td>
          <td>{% if row.sum_fixeddeposit_amount %}{{ row.sum_fixeddeposit_amount|floatformat:2}}{% else %}-{% endif %}</td>
          <td>{% if row.sum_recurringdeposit_amount %}{{ row.sum_recurringdeposit_amount|floatformat:2}}{% else %}-{% endif %}
          </td>
          <td>{% if row.sum_loanprinciple_amount %}{{ row.sum_loanprinciple_amount|floatformat:2}}{% else %}-{% endif %}</td>
          <td>{% if row.sum_loaninterest_amount %}{{ row.sum_loaninterest_amount|floatformat:2 }}{% else %}-{% endif %}</td>
          <td>{% if row.sum_insurance_amount %}{{ row.sum_insurance_amount|floatformat:2 }}{% else %}-{% endif %}</td>
          <td style="color:#FF00CC;">{% if row.total_sum %}{{ row.total_sum|floatformat:2 }}{% else %}-{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>