{% extends 'base.html' %}
{% block stage %}
<div>
  <div class="nav-2" id="nav-conteiner">
    <ul>
      <li><a href="{% url 'micro_admin:groupprofile' group.id %}"><i class="fa fa-users padd"></i>Group Profile</a></li>
      <li>
        <a href="#" class="mem"><i class="fa fa-users padd"></i>Members<span><i class="fa fa-caret-down"></i></span></a>
        <ul class="mem-drop">
          <li><a href="{% url 'micro_admin:addmember' group.id %}"><i class="fa fa-plus padd"></i>Add New Member</a></li>
          <li><a href="{% url 'micro_admin:viewmembers' group.id %}"><i class="fa fa-eye padd"></i>View Members</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="acc"><i class="fa fa-database padd"></i>Accounts<span><i class="fa fa-caret-down"></i></span></a>
        <ul class="acc-drop">
          <li>
            <a href="#" class="sav"><i class="fa fa-money padd"></i>Savings<span><i class="fa fa-caret-down"></i></span></a>
          </li>
          <li>
            <a href="#" class="loan"><i class="fa fa-money padd"></i>Loan<span><i class="fa fa-caret-down"></i></span></a>
          </li>
        </ul>
      </li>
      <li>
        {% if group.staff %}
        <a href="{% url 'micro_admin:assignstaff' group.id %}"><i class="fa fa-user padd"></i>Re-Assign Staff</a>
        {% else %}
        <a href="{% url 'micro_admin:assignstaff' group.id %}"><i class="fa fa-user padd"></i>Assign Staff</a>
        {% endif %}
      </li>
    </ul>
  </div>
  <button class="toggle-btn margin-lft" id="togg-btn"><img src="/static/images/1414856121_equal-16.png" style="color:#fff;" /></button>
</div>
{% block groupstage %}
{% endblock %}
<script src="/static/js/mf_script.js"></script>
{% endblock %}