{% extends 'base.html' %}
{% block breadcrumb %}
<li>Accounting</li>
<li>Payments</li>
{% endblock %}
{% block stage %}
<!--content goes below-->
<div class="container-trans-table">
  <!--form div starts below-->
  <div class="panel panel-default my-panel-bprofile margin-top-set trans-table">
    <div class="panel-heading">
      <h3 class="panel-title">
        Payments Lists
        <span><a href="{% url 'micro_admin:payslip' %}"><button class="ed-btn"><i class="fa fa-plus padd"></i>New Payment
        </button>
        </a></span>
      </h3>
    </div>
    <div class="hg-table panel-body pb-table">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="head-row-tb">
              <th>S.No.</th>
              <th>Date</th>
              <th>Vocher Number</th>
              <th>Group Name</th>
              <th>Member Name</th>
              <th>Staff Name</th>
              <th>Payment Type</th>
              <th>Amount</th>
              <th>Interest</th>
              <th>Total Amount</th>
            </tr>
          </thead>
          <tbody class="body-row-tb">
            {% for payment in payments_list %}
            <tr>
              <td><b>{{ forloop.counter }}</b></td>
              <td>{{ payment.date }}</td>
              <td>{{ payment.voucher_number}}</td>
              <td>
              {% if payment.group %}
              <a href="{% url 'micro_admin:groupprofile' payment.group.id %}" style="color:#337ab7;">
              {% endif %}
              {{ payment.group.name|capfirst|default:" - " }}
              {% if payment.group %}</a>{% endif %}
              </td>
              <td>
              {% if payment.client %}
                <a href="{% url 'micro_admin:clientprofile' payment.client.id %}" style="color:#337ab7;">
              {% endif %}
              {{ payment.client.first_name|capfirst|default:" - " }}
              {% if payment.client %}</a>{% endif %}
              </td>
              <td>
              {% if payment.staff %}
                <a href="{% url 'micro_admin:userprofile' payment.staff.id %}" style="color:#337ab7;">
              {% endif %}
              {{ payment.staff.username|capfirst|default:" - " }}
              {% if payment.staff %}</a>{% endif %}
              </td>
              <td>{{ payment.payment_type }}</td>
              <td>{{ payment.amount|floatformat:2 }}</td>
              <td>{% if payment.interest %}{{ payment.interest|default:" - " }}{% else %}-{% endif %}</td>
              <td style="color:#FF00CC;">{{ payment.total_amount|floatformat:2 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
{% endblock %}