{% extends 'base.html' %}
{% block breadcrumb %}
<li>View Groups</li>
{% endblock %}
{% block stage %}
<!--content goes below-->
<div class="container">
  <!--form div starts below-->
  <div class="panel panel-default my-panel-bprofile margin-top-set">
    <div class="panel-heading">Groups List</div>
    <div class="panel-body pb-table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="head-row-tb">
              <th>Group Name</th>
              <th>Account Number</th>
              <th>Branch Name</th>
              <th>Staff</th>
              <th>Members Count</th>
              <th>Status</th>
              {% if user.is_admin or user.user_roles == "BranchManager" %}
              <th>Delete</th>
              {% endif %}
            </tr>
          </thead>
          <tbody class="body-row-tb">
            {% for group in groups_list %}
            <tr>
              <td><a href="{% url 'micro_admin:groupprofile' group.id %}" style="color:#337ab7;">{{ group.name|capfirst }}</a>
              </td>
              <td>{{ group.account_number  }}</td>
              <td>{{ group.branch.name }}</td>
              <td class="a-color">{% if group.staff.first_name %}{{ group.staff.first_name }}{% else %}<a href="{% url 'micro_admin:assignstaff' group.id %}" title="Assign Staff">Not Assigned</a>{% endif %}</td>
              <td>{{ group.clients.all.count }}<span style="text-align:left; float:none; padding-left:10px;">Member{{ group.clients.all.count|pluralize }}</span></td>
              {% if group.is_active %}
              <td><i class="fa fa-circle green pad-lt"></i></td>
              {% else %}
              <td><i class="fa fa-circle red pad-lt"></i></td>
              {% endif %}
              {% if user.is_admin or user.user_roles == "BranchManager" %}
                <td style="padding-left: 18px;">
                <a id="deletegroup" href="{% url 'micro_admin:deletegroup' group.id %}"><i class="fa fa-trash-o trash-icon"></i></a></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
{% endblock %}