{% extends 'base.html' %}
{% block stage %}
<!--content goes below-->
<div class="container">
  <!--form div starts below-->
  <div class="panel panel-default my-panel-bprofile margin-top-set">
    <div class="panel-heading">Transactions List of Groups</div>
    <div class="panel-body pb-table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="head-row-tb">
              <th>S.No</th>
              <th>Date</th>
              <th>Group Name</th>
              <th>Group Status</th>
              <th>Savings Account No</th>
              <th>Savings Status</th>
              <th>Deposit</th>
              <th>Withdrawal</th>
              <th>Savings Balance</th>
              <th>Loan Account No</th>
              <th>Loan Status</th>
              <th>Loan Amount</th>
              <th>Interest Rate</th>
              <th>Principle Repaid</th>
              <th>Interest Repaid</th>
              <th>Principle Balance</th>
            </tr>
          </thead>
          <tbody class="body-row-tb">
            {% for result in result_list %}
            <tr>
              <td><b>{{ forloop.counter }}</b></td>
              <td>{{result.date}}</td>
              <td>{{result.group_name}}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
<script src="/static/js/mf_script.js"></script>
{% endblock %}