{% extends 'base.html' %}
{% block stage %}
<!--content goes below-->
<div class="container">
  <!--form div starts below-->
  <div class="panel panel-default my-panel-bprofile">
    <div class="panel-heading">Staff-List</div>
    <div class="panel-body pb-table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="head-row-tb">
              <th>Staff Name</th>
              <th>Role</th>
              <th>Branch Name</th>
              <th>Status</th>
              {% if user.is_admin %}
              <th>Delete</th>
              {% endif %}
            </tr>
          </thead>
          <tbody class="body-row-tb">
            {% for userobject in list_of_users %}
            <tr>
              <td><a href="{% url 'micro_admin:userprofile' userobject.id %}" style="color:#000">{{ userobject.first_name }}</a></td>
              <td>{{ userobject.user_roles }}l</td>
              <td>{{ userobject.branch.name }}</td>
              {% if userobject.is_active %}
              <td><i class="fa fa-circle green"></i></td>
              {% else %}
              <td><i class="fa fa-circle red"></i></td>
              {% endif %}
              {% if user.is_admin %}
              <td><a href="{% url 'micro_admin:deleteuser' userobject.id %}" style="color:#000"><i class="fa fa-trash-o trash-icon"></i></a></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
<script src="/static/js/mf_script.js"></script>
{% endblock %}