<div class="banner">
      <div class="banner_content">
        <h2> Branches</h2>
        <div class="select_banner row">
          <div class="col-5">
            <button type="button" class="pull-right branch">Search Branch</button>
          </div>
          <div class="col">
            <span class="select_or">Or</span>
          </div>
          <div class="col-5">
            <button type="button" class="pull-left branch">Create Branch</button>
          </div>
        </div>
      </div>
    </div>