{% extends 'base.html' %}
{% block breadcrumb %}
<li><a href="{% url 'micro_admin:userprofile' user.id %}">{{user.username|capfirst }}</a></li>
<li>Change Password</li>
{% endblock %}
{% block stage %}
<!--content goes below-->
<div class="container">
  <!--form div starts below-->
  <div class="panel panel-default my-panel margin-top-set">
    <div class="panel-heading">Change Password</div>
    <div class="panel-body pb-pad">
      <form  id="changepasswordform" class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-5 control-label">Current Password<span>*</span></label>
          <div class="col-sm-7">
            <input type="hidden"  id="user_id" value="{{user.id}}" style="dispaly:none;">
            <input type="password" class="text-box wid-form" name="current_password" id="inputEmail3" >
            <p id="currentpwderror"></p>
          </div>
        </div>
        <div class="form-group" style="margin-top: -10px;">
          <label for="inputEmail3" class="col-sm-5 control-label">New Password<span>*</span></label>
          <div class="col-sm-7">
            <input type="password" class="text-box wid-form" name="new_password" >
            <p id="newpwderror"></p>
          </div>
        </div>
        <div class="form-group" style="margin-top: -10px;">
          <label for="inputEmail3" class="col-sm-5 control-label">Confirm Password<span>*</span></label>
          <div class="col-sm-7">
            <input type="password" class="text-box wid-form" name="confirm_new_password" >
            <p id="matchpwdserror"></p>
          </div>
        </div>
        <div class="form-group btns" style="margin-top: -10px;">
          <button class="submit-btn" type="submit"><i class="fa fa-check padd"></i>Submit</button>
          <button class="cancel-btn" type="reset"><i class="fa fa-times padd"></i>Cancel</button>
        </div>
      </form>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
<script type="text/javascript">
  $(document).ready(function () {
    $('#changepasswordform').submit(function (e) {
      e.preventDefault();
      $(".error").remove();
      $.post("", $('#changepasswordform').serialize(), function (data) {
        if (data.error) {
          $.each(data.errors, function(field_name, error){
            error = "<span class='error' style='height:11px;color:red;'>" + error +"</span>"
            $("[name=" + field_name + "]").after(error)
          })
        }
        else {
          alert("Password has been changed successfully. Please login to continue.")
          window.location = '/';
        }
      }, "json");
    });
    $('.cancel-btn').click(function (e) {
      $("span.error").remove();
    });
  });
</script>
{% endblock %}