{% extends 'base.html' %}
{% block stage %}
<!--content goes below-->
<div class="container">
  <!--form div starts below-->
  <div class="panel panel-default my-panel-bprofile margin-top-set">
    <div class="panel-heading">Branch-List</div>
    <div class="panel-body pb-table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="head-row-tb">
              <th>Branch Name</th>
              <th>Opening Date</th>
              <th>Phone Number</th>
              <th>Status</th>
              {% if user.is_admin %}
              <th>Edit/Delete</th>
              {% endif %}
            </tr>
          </thead>
          <tbody class="body-row-tb">
            {% for branch in branch_list %}
            <tr>
              <td><a href="{% url 'micro_admin:branchprofile' branch.id %}" style="color:#000">{{ branch.name }}</a></td>
              <td>{{ branch.opening_date }}</td>
              <td>{{ branch.phone_number }}</td>
              {% if branch.is_active %}
              <td><i class="fa fa-circle icon-squa green pad-lt"></i></td>
              {% else %}
              <td><i class="fa fa-circle icon-squa red pad-lt"></i></td>
              {% endif %}
              {% if user.is_admin %}
              <td class="ed"> &nbsp&nbsp&nbsp<a href="{% url 'micro_admin:editbranch' branch.id %}"><i class="fa fa-pencil-square-o edit-icon"></i></a>
                <a href="{% url 'micro_admin:deletebranch' branch.id %}"><i class="fa fa-trash-o trash-icon"></i></a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
</div>
<!--wrapper ends above-->
<script src="/static/js/mf_script.js"></script>
{% endblock %}