{% extends 'group/groupbase.html' %}
{% block groupbreadcrumb %}
<li>Add Loan Application</li>
{% endblock %}
{% block groupstage %}
<dir class="col">
  <div class="container">
    <div class="container">
      <div class="col-12 receipts">
        <form id="grouploanapplicationform" class="form-horizontal" role="form" method="post">
          {% csrf_token %}
          <div class="saving_form">
            <div class="input-group">
              <label class="filter_branch"> Account Number :
              <input list="browsers" name="account_no" class="locations" value="{{account_no}}" /></label>
            </div>
            <div class="input-group">
              <label  class="filter_branch">Created By :
              <input list="browsers" name="created_by" value="{{ user.username }}" class="locations"></label>
            </div>
            <div class="input-group">
              <label class="filter_branch"> Loan Amount:
              <input list="browsers" class="locations" name="loan_amount" id="loan_amount">
            </div></label>
            <div class="input-group">
              <label class="filter_branch">Loan Repayment Period :
              <input list="browsers" class="locations" name="loan_repayment_period" id="loan_repayment_period"></label>
            </div>
            <div class="input-group">
              <label class="filter_branch">Loan Repayment Every : </label>
              <select class="custom-select" name="loan_repayment_every" id="loan_repayment_every">
                <option value="">Please Select Option</option>
                {% for val in loan_repayment_every %}
                  <option value="{{ val.value }}">{{ val.value }}</option>
                {% endfor %}
             </select>
            </div>
            <div class="input-group">
              <label class="filter_branch">Interset Type : </label>
                <select class="custom-select" name="interest_type" id="interest_type" required="True">
                  <option>Select Interest Type</option>
                  <option value="Flat">Flat</option>
                  <option value="Declining">Declining</option>
                </select>
            </div>
            <div class="input-group">
              <label class="filter_branch">Annual Interest Rate :
              <input list="browsers" class="locations" name="annual_interest_rate" id="annual_interest_rate"></label>
            </div>
            <div class="input-group">
              <label class="loan_purpose">Loan Purpose : </label>
                <textarea name="loanpurpose_description" id="loanpurpose_description" rows="3" cols="25"></textarea>
            </div>
            <div class="save_application">
              <button type="button" class="create_branch">Submit</button>
              <button type="button" class="create_branch">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</dir>
{% endblock %}
{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#grouploanapplicationform').submit(function(e) {
      e.preventDefault();
      $.post('.', $('#grouploanapplicationform').serialize(), function(data) {
        if (data.error) {
          $("span.error").remove();
          if (data.message){
          $.each(data.message, function( key, value ) {
            $('#'+key).after("<span class='error' style='height:11px;color:red;'>" + value + "</span>");
          });
        }
        }
        else {
          alert("Group Loan Application submitted sucessfully");
          url = "{% url 'loans:grouploanaccount' 1 %}".replace(1, data.loanaccount_id)
          window.location = url;
        }
          if(data.error && data.error_message){
            $("#account_no").after("<span class='error' style='height:11px;color:red;'>" + data.error_message + "</span>")
          }
      }, "json");
    });
    $('.cancel-btn').click(function(e){
      $("span.error").remove();
    });
  });
</script>
{% endblock extra_js %}