{% extends 'base.html' %}
{% block breadcrumb %}
<li>Create Branch</li>
{% endblock %}
{% block stage %}
<div class="row group_list">
      <div class="col">
        <div class="container">
          <div class="row">
            <div class="testing_head">
              <h3>Create Branch</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
      <form  id="createbranchform" class="branch_create" role="form" method="POST">{% csrf_token %}
        <div class="input-group">
          <label class="filter_branch">Branch Name :
          <input type="text" class="locations" placeholder="Branch Name" name="name" id="name"></label>
        </div>
        <div class="input-group">
          <label class="filter_branch">Opening Date :
          <input type="text" class="locations" placeholder="Date" name="opening_date" id="datepicker"></label>
        </div>
        <div class="input-group">
          <label class="filter_branch">Country :
          <input type="text" class="locations" placeholder="Country" name="country" id="country"></label>
        </div>
        <div class="input-group">
          <label class="filter_branch">State :
          <input type="text" class="locations" placeholder="State" name="state" id="state"></label>
        </div>
        <div class="input-group">
          <label class="filter_branch">District :
          <input type="text" class="locations" placeholder="District" name="district" id="district"></label>
        </div>
        <div class="input-group">
          <label class="filter_branch">City :
          <input type="text" class="locations" placeholder="City" name="city" id="city"></label>
        </div>
        <div class="input-group">
          <label class="filter_branch">Area :
          <input type="text" class="locations" placeholder="Area" name="area" id="area"></label>
        </div>
        <div class="input-group">
          <label class="filter_branch">Phone Number :
          <input type="text" class="locations" placeholder="Phone Number" name="phone_number" id="phone_number"></label>
        </div>
        <div class="input-group">
          <label class="filter_branch">Pin Code :
          <input type="text" class="locations" placeholder="Pincode" name="pincode" id="pincode"></label>
        </div>
        <div class="save_application">
          <button type="submit" class="create_branch">Create</button>
          <button type="reset" class="create_branch">Cancel</button>
        </div>
      </form>
  </div>
{% endblock %}
{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#createbranchform').submit(function (e) {
      e.preventDefault();
      $.post('.', $('#createbranchform').serialize(), function(data) {
        if (data.error) {
          $("span.error").remove();

          $.each(data.errors, function( key, value ) {
            if (key == 'opening_date'){
              $('#datepicker').after("<span class='error' style='display:-webkit-inline-box;color:red;'> * " + value + "</span>");
            }else{
              $('#'+key).after("<span class='error' style='display:-webkit-inline-box;color:red;'> * " + value + "</span>");
            }
          });
        }
        else {
          alert("Branch created successfully.");
          window.location = data.success_url;
        }
      }, "json");
    });
    $('.cancel-btn').click(function (e) {
      $("span.error").remove();
    });
  });
</script>
{% endblock extra_js %}