{% extends 'base.html' %}
{% block breadcrumb %}
<li>Create Branch</li>
{% endblock %}
{% block stage %}
  <div class="banner">
    <div class="form_content">
      <h2>Create Branch</h2>
      <form  id="create_form" class="form-horizontal" role="form" method="POST">{% csrf_token %}
        <div class="input-group">
          <label class="location">Branch Name :</label>
          <input type="text" class="form-control" placeholder="State" name="name" id="name">
        </div>
        <div class="input-group">
          <label class="location">Opening Date :</label>
          <input type="text" class="form-control" placeholder="Date" name="opening_date" id="datepicker">
        </div>
        <div class="input-group">
          <label class="location">Country :</label>
          <input type="text" class="form-control" placeholder="Country" name="country" id="country">
        </div>
        <div class="input-group">
          <label class="location">State :</label>
          <input type="text" class="form-control" placeholder="State" name="state" id="state">
        </div>
        <div class="input-group">
          <label class="location">District :</label>
          <input type="text" class="form-control" placeholder="District" name="district" id="district">
        </div>
        <div class="input-group">
          <label class="location">City :</label>
          <input type="text" class="form-control" placeholder="City" name="city" id="city">
        </div>
        <div class="input-group">
          <label class="location">Area :</label>
          <input type="text" class="form-control" placeholder="Area" name="area" id="area">
        </div>
        <div class="input-group">
          <label class="location">Phone Number :</label>
          <input type="text" class="form-control" placeholder="Phone Number" name="phone_number" id="phone_number">
        </div>
        <div class="input-group">
          <label class="location">Pin Code :</label>
          <input type="text" class="form-control" placeholder="Pincode" name="pincode" id="pincode">
        </div>
        <div class="input-group btns">
          <button type="submit" class="create_branch">Create</button>
          <button type="reset" class="create_branch">Cancel</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#createbranchform').submit(function (e) {
      e.preventDefault();
      $.post('.', $('#createbranchform').serialize(), function(data) {
        if (data.error) {
          $("span.error").remove();

          $.each(data.errors, function( key, value ) {
            if (key == 'opening_date'){
              $('#datepicker').after("<span class='error' style='height:11px;color:red;'> * " + value + "</span>");
            }else{
              $('#'+key).after("<span class='error' style='height:11px;color:red;'> * " + value + "</span>");
            }
          });
        }
        else {
          alert("Branch created successfully.");
          window.location = data.success_url;
        }
      }, "json");
    });
    $('.cancel-btn').click(function (e) {
      $("span.error").remove();
    });
  });
</script>
{% endblock extra_js %}